{% extends 'configuration/index.html.twig' %}
{% form_theme form 'extra/simple_form_theme.html.twig' %}

{% block navigation %}
{{ knp_menu_render('OrangeMainBundle:Builder:showMenu', {'template': 'extra/knp_menu.html.twig', 'item': {1:'Configuration'} }) }}
{% endblock %}

{% block content %}
<div class="onecolumn">
	<div class="header">
		<span><span class="ico gray home"></span>Chargement de risques</span>
		{% if  app.session.get('erreurs_chargement') is defined and app.session.get('erreurs_chargement') is not empty %}
		<div id="buttom_top">
		  <ul class="uibutton-group">
             <li><a  href="#myModal" class="actionLink uibutton  special" modal-url="{{ path('erreur_chargement') }}"  data-target="#myModal" data-toggle="modal" href="#myModal">Afficher les erreurs </a></li>
          </ul>
          </div>
		{% endif %}
	</div>
	<div class="clear"></div>
	<div class="content">
		<div class="grid2" style="width: 49%; float: left;">
			<div class="inner">
				{{ form_start(form, {action:path('importer_les_risques',{id:id})}) }}
					{{ form_row(form._token) }}
					{{ form_row(form.file) }}
					<div class="section last">
						<div>
						    <a class="uibutton confirm"
								href="{{ asset('upload/modele/modele_'~chargement.cartographie.libelle|replace({'é': 'e'})|lower~'.csv') }}">Télécharger
								le modéle</a>
							<button class="uibutton loading">Importer</button>
							<input type="reset" class="uibutton special" value="Effacer">
						</div>
					</div>
				{{ form_end(form) }}
				<p  style="color: red;"><u>NB:</u> Le format du fichier doit être .txt ou .csv avec séparateur point-virgule.</p>
			</div>
		</div>
		<div class="grid2" style="width: 49%; float: left;">
			<div class="inner">
			<h5>Contraintes sur le chargement</h5>
						<ul>
							<li>Ne pas utiliser le caractere point virgule ( <b style="color:red;font-size:16px;">;</b>) dans vos texte</li>
							<li>Ne pas mettre de retour a la ligne dans le fichier</li>
						</ul>
				<div style="color: red"><h5>Contraintes sur
					le fichier de chargement</h5></div>
				<span>Le fichier de chargement est structuré de la maniére
					suivante:</span>
			{% if chargement.cartographie.id == global_ids['carto']['metier']  %}
			   {% include 'chargement/manuel_metier.html.twig' with {chargement: chargement} %}
			{% elseif chargement.cartographie.id == global_ids['carto']['projet'] %}
			   {% include 'chargement/manuel_projet.html.twig' %}
			{% else %}
			     {% include 'chargement/manuel_sste.html.twig' %}
			{% endif %}
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>

{% endblock %}
