{% extends 'configuration/index.html.twig' %}


{% block header_config %}

<div class="header" style="height:auto;font-size:14px;padding:5px;">
	<h2><u>Rapport chargement effectué:</u></h2>
	{% for r in rapport %}
	    {% if global_types.rapportChargement.risque == r.type %}
			<span>
				Risques importés :
				{% if r.description != null %} {{ r.nombre }} {% set details = (r.description|slice(1,-1)) %} ( {{ details }}) {% else %} 0 {% endif %}
			</span>
        {% endif %}
        {% if global_types.rapportChargement.cause == r.type %}
			<span>Nombre de causes : {{ r.nombre }} </span>
        {% endif %}
        {% if global_types.rapportChargement.planAction == r.type %}
			<span>Nombre de PA(s)  : {{ r.nombre }} </span>
        {% endif %}
        {% if global_types.rapportChargement.controle == r.type %}
			<span>Nombre de Controle(s) : {{ r.nombre }} </span>
        {% endif %}
        {% if global_types.rapportChargement.impact == r.type %}
        	<span>
				Détails des impacts :
			    {% if r.description != null %} {{ r.nombre }} (
			        {% for domaine in r.descriptionForImpact %}
			    	    {{ domaine.libelle }}: {{ domaine.nombre }}{% if loop.last==false %} |{% endif %}
			        {% endfor %} )
			    {% else %} 0 {% endif %}
			</span>
        {% endif %}
        <div class="clear"></div>
	{% endfor %}
</div>

<div class="clear"></div>

<div class="header">
	<span>
		<span class="ico color spreadsheet"></span>Consultation des fiches de risque
	</span>
	<div id="buttom_top">
		<ul class="uibutton-group">
			<li><a class="uibutton icon filter on_load_filter" name="#filter_content" href="#">Filtrer</a></li>
			<li><a class="uibutton icon download" href="{{ path('exporter_les_risques') }}">Extraire</a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block content_config %}
	<div id="filter_content" hidden>
		{% include 'risque/filter.html.twig' with {form: form, evaluated: 1} %}
	</div>
	<div id="transfert_content" hidden>
	</div>
	<div id="main_content" class="content" style="background-color: #fff;">
		<div class="tableName">
			<table id="risqueTable" class="display no-margin">
				<thead>
					<tr>
						<th width="70px"><div class="th_wrapp">Code</div></th>
						{% if position <=2 %}
							<th width="200px"><div class="th_wrapp">Processus</div></th>
							<th width="200px"><div class="th_wrapp">Structure</div></th>
						{% else %}
							<th width="200px"><div class="th_wrapp">Site</div></th>
						{% endif %}
						<th width="200px"><div class="th_wrapp">Activité</div></th>
						<th><div class="th_wrapp">Nom du risque</div></th>
						<th width="200px"><div class="th_wrapp">Nombre de causes</div></th>
						<th width="100px"><div class="th_wrapp">Date saisie</div></th>
						<th width="60px"><div class="th_wrapp">Actions</div></th>
					</tr>
				</thead>
				<tbody>
				 	<tr class="odd gradeX">
				 	{% if position <=2 %}
				 		<td colspan="9">Chargement des données en cours ...</td>
				 	{% else %}
				 		<td colspan="8">Chargement des données en cours ...</td>
				 	{% endif %}
					</tr>
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{# {{ block_render('::form_div_layout.html.twig', 'datatable_options', {has_buttons: true, with_tag: 1 }) }} #}
	{% if id_import is not defined %}
	 {% include 'extra/datatable.html.twig' with {idTable: 'risqueTable', url: path('liste_des_risques'), nosorting: {0:0,1:1,2:2,3:5} } %}
	 {% else %}
	 {% include 'extra/datatable.html.twig' with {idTable: 'risqueTable', url: path('liste_des_risques_importer', {id:id_import}), nosorting: {0:0,1:1,2:2,3:5} } %}
	{% endif %}
{% endblock %}
