{% extends 'base.html.twig' %}

{% block navigation %}
	{{ knp_menu_render('OrangeMainBundle:Builder:showMenu', {'template': 'extra/knp_menu.html.twig', 'item': {1:'Risque'} }) }}
{% endblock %}

{% block content %}
 	<h1 align="center">Quel type de risque voulez-vous charger?</h1>
 	<div class="big_menu bd_grid  no_submenu   " style="margin-left:200px; ">
		<span class="header" style="cursor: pointer;" onclick="location.href='{{ path('nouveau_chargement',{'id':1}) }}'">Risque Metier</span>
	</div> 
	
 	<div class="big_menu bd_grid  no_submenu   ">
		<span class="header" style="cursor: pointer;" onclick="location.href='{{ path('nouveau_chargement',{'id':2}) }}'">Risque Projet</span>
	</div>
	<div class="big_menu bd_grid  no_submenu   " style="margin-left:200px; ">
		<span class="header" style="cursor: pointer;" onclick="location.href='{{ path('nouveau_chargement',{'id':3}) }}'">Risque SST</span>
	</div>
	
	<div class="big_menu bd_grid  no_submenu   ">
		<span class="header" style="cursor: pointer;" onclick="location.href='{{ path('nouveau_chargement',{'id':4}) }}'">Risque Environnemental</span>
	</div>
{% endblock %}