<div class="header" style="height:auto;font-size:14px;padding:5px;">
	{% set nom = chargement.getUtilisateur().getPrenom()~' '~chargement.getUtilisateur().getNom() %}
	<p>L'utilisateur <span style="color: red; font-weight:bold;">{{ nom }}</span> vient de faire le chargement suivant :<br> 
	<a href="{{ path('les_risques_importes', {'id':chargement.getId()}) }}" style="color:red;font-weight:bold;">
	    {{ chargement.getLibelle() }}
	</a> à la date du: {{ chargement.getDate()|date('d-m-Y') }}<br><br>
	<h3><u>Détails du chargement :</u></h3> 
	{% for r in chargement.getRapport() %}
	    {% if global_types.rapportChargement.risque == r.type %}
			<span>
				Risques importés :
				{% if r.description != null %} {{ r.nombre }} {% set details = (r.description|slice(1,-1)) %} ( {{ details }}) {% else %} 0 {% endif %}
			</span>
        {% endif %}
        {% if global_types.rapportChargement.cause == r.type %}
			<span>Nombre de causes : {{ r.nombre }} </span>
        {% endif %}
        {% if global_types.rapportChargement.planAction == r.type %}
			<span>Nombre de PA(s)  : {{ r.nombre }} </span>
        {% endif %}
        {% if global_types.rapportChargement.controle == r.type %}
			<span>Nombre de Controle(s) : {{ r.nombre }} </span>
        {% endif %}
        {% if global_types.rapportChargement.impact == r.type %}
        	<span>
				Détails des impacts :
			    {% if r.description != null %} {{ r.nombre }} (
			        {% for domaine in r.descriptionForImpact %}
			    	    {{ domaine.libelle }}: {{ domaine.nombre }}{% if loop.last==false %} |{% endif %}
			        {% endfor %} )
			    {% else %} 0 {% endif %}
			</span>
        {% endif %}
        <div class="clear"></div>
	{% endfor %}
</div>