{% form_theme form 'OrangeMainBundle:Extra:simple_form_theme.html.twig' %}
<div class="header">
	<img src="{{ asset('assets/bundles/orangemain/images/icon/color_18/add.png') }}" alt="add">
	<span>Modification Equipement / Activité</span>
	<div class="close_me"><a data-dismiss="modal"><img src="{{ asset('assets/bundles/orangemain/images/icon/closeme.png') }}"> </a></div>
</div>

<div class="contentForm">
	<form  novalidate="novalidate"  action="{{ path('creer_equipement',{type:type}) }}" method="POST">
		{{ form_row(form.libelle, {attr: {class: 'full'}}) }}
		{{ form_row(form._token) }}
		<div class="section last footer">
			<div>
				<button data-target="#myModal" class="uibutton loading submitLink" call="closeAndNotifyAfterSuccess" argument-call="#siteTable">Enregistrer</button>
				<input type="reset"  class="uibutton special" value="Effacer" data-dismiss="modal" >
			</div>
		</div>
	</form>
</div>


