{% extends "::base.html.twig" %}
{% form_theme form 'extra/simple_form_theme.html.twig' %}

{% block navigation %}
	{{ knp_menu_render('OrangeMainBundle:Builder:showMenu', {'template': 'extra/knp_menu.html.twig', 'item': {1:'Controle'} }) }}
{% endblock %}

{% block content %}
<div class="onecolumn">
	<div class="header">
		<span>
			<span class="ico color pencil"></span>
			Edition du contrôle
		</span>
		<div id="buttom_top">
			<ul class="uibutton-group">
			{% if entity.risque.isValidated %}
				<li><a class="uibutton icon confirm answer" href="{{ path('details_controle', {id: entity.id}) }}" title="Détails du contrôle">Retour au contrôle</a></li>
				{% if entity.planAction is not empty %}
				<li><a class="uibutton icon confirm answer" href="{{ path('details_planaction', {'id': entity.planAction.id}) }}" title="Détails du plan action">Retour au plan d'action</a></li>
				{% endif %}
				<li><a class="uibutton icon confirm answer" href="{{ path('details_risque', {'id': entity.risque.id}) }}" title="Détails du risque">Retour au risque</a></li>
			{% endif %}
			{% if entity.risque.isIdentified or entity.risque.isPending %}
				{% if entity.risque.planAction|length %}
					<li><a class="uibutton icon special forward" href="{{ path('edition_planaction', {id: entity.risque.planAction.0.id}) }}">Passer aux plans d'action</a></li>
				{% else %}
					<li><a class="uibutton icon special forward" href="{{ path('nouveau_planaction_de_risque', {risque_id: entity.risque.id}) }}">Passer aux plans d'action</a></li>
				{% endif %}
			{% endif %}
            </ul>
        </div>
	</div>
	<div class="clear"></div>
	<div class="contentForm">
	<form  novalidate="novalidate"  action="{{ path('modifier_controle', {id: entity.id}) }}" method="POST">
		<div class="section">
			{{ form_label(form.causeOfRisque) }}
			<div style="font-weight: bold;color: orange;font-size: 16px;">{{ form.vars.value.causeOfRisque }}</div>
		</div>
		{% if form.vars.value.planAction is not empty %}
		<div class="section">
			{{ form_label(form.planAction) }}
			<div style="font-weight: bold;color: orange;font-size: 16px;">{{ form.vars.value.planAction }}</div>
		</div>
		{% endif %}
		<div hidden>{{ form_row(form.causeOfRisque) }}</div>
		{{ form_row(form.description) }}
		{{ form_row(form.risque) }}
		{{ form_row(form.planAction) }}
		{{ form_row(form.methodeControle) }}
		{{ form_row(form.typeControle) }}
        {% if  entity.risque.isPhysical %}
		    {{ form_row(form.grille) }}
		{% endif %}
		{{ form_row(form.traitement) }}
		{{ form_row(form.url) }}
		{{ form_row(form.periodicite) }}
		{{ form_row(form.porteur) }}
		{{ form_row(form.superviseur)}}
		{{ form_row(form.aTester)}}
		{{ form_row(form._token) }}
		<div class="section last footer">
			<div>
			{% if entity.risque.isValidated %}
				<button name="save" class="uibutton loading">Enregistrer</button>
			{% else %}
				<button name="edit_another" class="uibutton loading">Enregistrer et passer à un autre contrôle</button>
				<button name="edit_and_pass" class="uibutton loading">Enregistrer et passer aux plans d'actions</button>
			{% endif %}
			</div>
		</div>
	</form>
	</div>
	</div>
{% endblock %}
{% block add_script_js %}
{% if  entity.risque.isPhysical %}
    {% include 'extra/reloadSelect.html.twig' with 
    			{parent: form.causeOfRisque, child: form.grille, url: path('grille_by_carto'), key: 'id', functionAfter: 'refreshChosen' } 
    %}
{% endif %}
{% endblock %}
