<div class="header">
	<img src="{{ asset('bundles/orangemain/images/icon/color_18/pyramid.png') }}" alt="add">
	<span>Evaluation</span>
	<div class="close_me"><a data-dismiss="modal"><img src="{{ asset('bundles/orangemain/images/icon/closeme.png') }}"> </a></div>
</div>
<div class="content" id="evaluation">
	<p style="text-align: center;">
		Veuillez répondre aux questions ci-dessous: 
	</p>
	<div class="contentForm">
		<form  novalidate="novalidate"  action="{{ path('evaluation_controle', {'id': quiz.controle.id}) }}" method="POST">
		{% for reponse in form.reponse %} 
			<div class="section">
				<label style="width: 70%">{{ reponse.vars.value.question }}</label>
				<div>
				    {{ form_widget(reponse.question)  }}
					{{ form_widget(reponse.valide) }}
					{{ form_widget(reponse.valide, {'show': false}) }}
				</div>
			</div>
		{% endfor %}
		
		{{ form_row(form._token) }}
			<div class="section last footer">
				<button class="uibutton special">Enregistrer</button>
				<button class="uibutton" data-dismiss="modal">Fermer</button>
			</div>
		</form>
	</div>

<script type="text/javascript">

$("div.section").not(':first-child, .footer').hide();

$("input[type='checkbox']").iphoneStyle({
	  checkedLabel: "Oui",
	  uncheckedLabel: "Non",
	  labelWidth:'30px',
	  onChange: function(element, checked) {
		  if(checked) {
			element.closest('div.section').next().fadeIn(300, function() {$(this).show()});
		  } else {
				checkedIndex = $("div.section").index(element.closest('div.section'));
			  	$("div.section").not('.footer').each(function( index ) {
					if(index > checkedIndex) {
						$(this).fadeOut(300, function() {$(this).hide()});
						$(this).find('input[type="checkbox"]').prop('checked', false);
						$(this).find('input[type="checkbox"]').iphoneStyle("refresh");
					}
			  	});
		  }
	  }
});
</script>