{% extends "::base.html.twig" %}

{% block navigation %}
	{{ knp_menu_render('OrangeMainBundle:Builder:showMenu', {'template': 'OrangeMainBundle:Extra:knp_menu.html.twig', 'item': {1:'Risque'} }) }}
{% endblock %}
{% block content %}
<div class="onecolumn" >
	<div class="header"><span ><span class="ico color info">
		</span>Détails Contrôle</span> 
		<div id="buttom_top">
			<ul class="uibutton-group">
				<li><a class="uibutton icon confirm answer" href="{{ path('les_controles') }}" title="les controles">Retour à la liste</a></li>
				<li><a class="uibutton icon edit" href="{{ path('edition_controle', {'id': entity.id}) }}">Modifier Contrôle</a></li>
            </ul>
        </div>
	</div>
	<div class="clear"></div>
	<div class="content" >
		<table class="show_table">
			<tbody>
				<tr>
					<th style="width:115px;" >Code:</th>
					<td style="padding-left: 100px;">{{ entity.code }}</td>
				</tr>
				<tr>
					<th style="width:115px;" >Description:</th>
					<td style="padding-left: 100px;">{{ entity.description }}</td>
				</tr>
				<tr>
					<th style="width:115px;" >Porteur:</th>
					<td style="padding-left: 100px;">
					{% if entity.porteur is not empty%}
						{{ entity.porteur }} [{{ entity.porteur.structure.name }}]
					{% else %}
						<span style="color: red;">Non renseigné</span>
					{% endif %}
					</td>
				</tr>
				<tr>
					<th style="width:115px;" >Superviseur:</th>
					<td style="padding-left: 100px;">
					{% if entity.superviseur is not empty%}
						{{ entity.superviseur }} [{{ entity.superviseur.structure.name }}]
					{% else %}
						<span style="color: red;">Non renseigné</span>
					{% endif %}
					</td>
				</tr>
				{% if entity.planAction is not empty %}
				<tr>
					<th style="width:115px;" >Plan d'action:</th>
					<td style="padding-left: 100px;"><a href="{{ path('details_planaction', {id: entity.planAction.id}) }}">{{ entity.planAction }}</a></td>
				</tr>
				{% endif %}
				<tr>
					<th style="width:200px;" >Type de contrôle:</th>
					<td style="padding-left: 100px;">{{ entity.typeControle }}</td>
				</tr>
				<tr>
					<th style="width:200px;" >Méthode de contrôle:</th>
					<td style="padding-left: 100px;">{{ entity.methodeControle }}</td>
				</tr>
				<tr>
					<th style="width:115px;" >Traitement:</th>
					<td style="padding-left: 100px;">
						{% for traitement in entity.traitement %}
							{{ (loop.index > 1) and (loop.index < loop.last) ? ', ' : ((loop.index > 1) and (loop.index == loop.last) ? ' et ' : null) }}
							{{ traitement }}
						{% else %}
							<span style="color: red;font-family: serif;font-weight: bold;">Aucun traitement</span>
						{% endfor %}
						</ul>
					</td>
				</tr>
				<tr>
					<th style="width:115px;" >Cause:</th>
					<td style="padding-left: 100px;"><a href="{{ path('details_cause', {id: entity.causeOfRisque.id}) }}">{{ entity.cause }}</a></td>
				</tr>
				<tr>
					<th style="width:115px;" >Risque:</th>
					<td style="padding-left: 100px;"><a href="{{ path('details_risque', {id: entity.risque.id}) }}">{{ entity.risque }}</a></td>
				</tr>
				<tr>
					<th style="width:200px;" >Date de création:</th>
					<td style="padding-left: 100px;">
					{% if entity.dateCreation %}
						{{ entity.dateCreation | localizeddate('medium', 'none', 'fr') }}
					{% else %}
						Non renseigné
					{% endif %}
					</td>
				</tr>
				<tr>
					<th style="width:115px;" >Périodicité:</th>
					<td style="padding-left: 100px;">{{ entity.periodicite }}</td>
				</tr>
				<tr>
					<th style="width:115px;" >Maturité:</th>
					<td style="padding-left: 100px;">
					{% if entity.maturiteTheorique %}
						{{ entity.maturiteTheorique|show_status }}
					{% else %}
						<span style="font-weight: bold;font-family: serif;color: red;">Aucune évaluation trouvée</span>
					{% endif %}
					</td>
				</tr>
				<tr>
					<th style="width:115px;" >Manuel de procédure:</th>
					<td style="padding-left: 100px;">
					{% if entity.url is not empty %}
						<a href="{{ entity.url }}">{{ entity.url }}</a>
					{% else %}
						<span style="color: red;font-family: serif;font-weight: bold;">Aucun manuel rattaché</span>
					{% endif %}
					</td>
				</tr>
				<tr >
					<th style="width:115px;" >Description:</th>
					<td style="padding-left: 100px;">{{ entity.description|nl2br }}</td>
				</tr>
			</tbody>
		</table>
		<ul class="tabs header no-margin" >
			<li ><a href="#tab1">Les tests du contrôle</a></li>
			<li ><a href="#tab2">Les évaluations de la maturité </a></li>
		</ul>
		<div id="tab1" class="tab_content">
			{% if entity.aTester %}
			<ul class="uibutton-group">
				<li>
 				{% if app.user.hasRoles(['ROLE_RISKMANAGER']) %}
 					<a class="uibutton actionLink" data-toggle="modal" data-target="#myModal" title="Tester le contrôle" href="#myModal" modal-url="{{ path('test_controle', {'id': entity.id}) }}">Tester le contrôle</a></li>
 				{% endif %}
			</ul>
			{% endif %}
			<table class="display no-margin">
				<thead>
					<tr>
						<th>Testeur</th>
						<th>Date de test</th>
						<th>Validateur</th>
						<th>Date de validation</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
				{% for execution in entity.execution %}
					 <tr>
						<td >{{ execution.executeur }}</td>
						<td >{{ execution.dateExecution | localizeddate('medium', 'none', 'fr')}}</td>
						<td >{{ execution.validateur }}</td>
						<td >{{ execution.dateValidation | localizeddate('medium', 'none', 'fr')}}</td>
						<td>
							<span class="tip" >
	                			<a title="Détails" href="#">
		                			<img src="{{ asset('bundles/orangemain/images/icon/color_18/info.png') }}" >
		                		</a>
                			</span> 
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="5" align="center" style="color: red;font-weight: bold;font-family: serif;font-size: 16px;">Aucun test effectué</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
			{# </div>#}
		</div><!--tab1-->
		<div id="tab2" class="tab_content">
			<ul class="uibutton-group">
 				<li>
 				{% if has_rights('ROLE_RISKMANAGER') or has_rights('ROLE_AUDITEUR') %}
 					<a class="uibutton actionLink" href="#myModal" modal-url="{{ path('evaluation_controle', {'id': entity.id}) }}" data-toggle="modal" data-target="#myModal">
 						<img src="{{ asset('bundles/orangemain/images/icon/color_18/pyramid.png') }}" />Evaluer la maturité aprés test
 					</a>
 				{% endif %}
 				</li>
			</ul>
			<table class="display no-margin">
				<thead>
					<tr>
						<th>Evaluateur</th>
						<th>Date d'évaluation</th>
						<th>Validateur</th>
						<th>Date de validation</th>
						<th>Maturité</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
				{% for quiz in entity.quiz %}
					 <tr>
						<td >{{ quiz.testeur }}</td>
						<td >{{ quiz.dateEvaluation | localizeddate('medium', 'none', 'fr')}}</td>
						<td >{{ quiz.validateur }}</td>
						<td >{{ quiz.dateValidation | localizeddate('medium', 'none', 'fr')}}</td>
						<td >{{ quiz.maturite }}</td>
						<td>
							<span class="tip" >
	                			<a title="Détails" href="#">
		                			<img src="{{ asset('bundles/orangemain/images/icon/color_18/info.png') }}" >
		                		</a>
                			</span> 
                		<span class="tip" >
                			<a class="uibutton actionLink" href="#myModal" modal-url="{{ path('evaluation_controle', {'id': entity.id}) }}" data-toggle="modal" data-target="#myModal">
		 						<img src="{{ asset('bundles/orangemain/images/icon/color_18/pyramid.png') }}" />Evaluer la maturité aprés test
		 					</a>
						</td>
						</span> 
					</tr>
				{% else %}
					<tr>
						<td colspan="6" align="center" style="color: red;font-weight: bold;font-family: serif;font-size: 16px;">Aucune evaluation trouvée</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div><!--tab2-->
	</div><!--/END TAB/-->
	<div class="clear"/></div>
	</div>
</div>
{% endblock %}
