{% extends 'configuration/index.html.twig' %}

{% block menu_config %}
	{% include 'configuration/configuration.html.twig' with {position: 6} %}
{% endblock %}

{% block header_config %}
<div class="header">
	<span>
		<span class="ico color gear"></span>Détails du critère
	</span>
	<div id="buttom_top">
		<ul class="uibutton-group">
			<li><a class="uibutton icon edit" href="{{ path('edition_critere', {id: entity.id}) }}">Edtition du critère</a></li>
			<li><a class="uibutton icon answer" href="{{ path('les_criteres') }}">Retour aux critères</a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block content_config %}
<div class="content">
	<div class="clear"></div>
	<table class="show_table">
		<tbody>
			<tr>
				<th style="width:115px;" >Libellé:</th>
				<td style="padding-left: 100px;">{{ entity.libelle }}</td>
			</tr>
			<tr>
				<th style="width:115px;" >Domaine:</th>
				<td style="padding-left: 100px;">{{ entity.domaine }}</td>
			</tr>
		</tbody>
		<table class="display no-margin" >
			<thead>
				<th width="70%">Libellé</th>
				<th width="25%">Gravité</th>
				<th width="5%">Note</th>
			</thead>
			<tbody>
				{% for note in entity.grilleImpact %}
				<tr>
					<td style="text-align: left;">{{ note.libelle|nl2br }}</td>
					<td>{{ note.gravite }}</td>
					<td>{{ note.gravite.valeur }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</table>
</div>
{% endblock %}
