{% form_theme form 'extra/simple_form_theme.html.twig' %}

<div class="header">
	<img src="{{ asset('assets/bundles/orangemain/images/icon/color_18/pencil.png') }}" alt="add">
	<span>Edition de la cause</span>
	<div class="close_me"><a data-dismiss="modal"><img src="{{ asset('assets/bundles/orangemain/images/icon/closeme.png') }}"> </a></div>
</div>
<div class="contentForm">
	<form  novalidate="novalidate"  action="{{ path('modifier_cause', {id: entity.id, page:page}) }}" method="POST">
		{{ form_row(form.libelle) }}
		<div hidden>{{ form_rest(form) }}</div>
		{{ form_row(form._token) }}
		<div class="section last">
			<div>
				<button data-target="#myModal" class="uibutton loading submitLink"call="closeAndNotifyAfterSuccess" argument-call="#causeTable">Enregistrer</button>
				<input type="reset" data-dismiss="modal" class="uibutton special" value="Effacer" >
			</div>
		</div>
	</form>
</div>
