{% form_theme form 'extra/simple_form_theme.html.twig' %}

<div class="header">
	<img src="{{ asset('assets/bundles/orangemain/images/icon/color_18/zoom.png') }}" alt="add">
	<span>Filtre des causes</span>
	<div class="close_me"><a data-dismiss="modal"><img src="{{ asset('assets/bundles/orangemain/images/icon/closeme.png') }}"> </a></div>
</div>
<div class="content">
	<form  novalidate="novalidate"  action="{{ path('filtrer_les_causes') }}" method="POST">
		{{ form_row(form.risque.cartographie) }}
		{{ form_row(form.cause.famille) }}
		{{ form_row(form.risque.menace) }}
		<div class="section last">
			<div>
				<button class="uibutton loading submitLink" data-target="#myModal" call="afterSuccesFiltrer" argument-call="#causeTable">Filtrer</button>
				<input type="reset" data-dismiss="modal" class="uibutton special" value="Effacer" >
			</div>
		</div>
	</form>
</div>
