{% extends 'configuration/index.html.twig' %}


{% block header_config %}
<div class="header">
	<span>
		<span class="ico color gear"></span>Détails de la cause
	</span>
	<div id="buttom_top">
		<ul class="uibutton-group">
        </ul>
    </div>
</div>
{% endblock %}

{% block content_config %}
	<div class="content" >
		<table class="show_table">
			<tbody>
				<tr>
					<th style="width:145px;" >Libellé:</th>
					<td style="padding-left: 50px;">{{ entity.cause }}</td>
				</tr>
				<tr>
					<th style="width:145px;" >Nom du risque:</th>
					<td style="padding-left: 50px;"><a href="{{ path('details_risque', {id: entity.risque.id}) }}">{{ entity.risque }}</a></td>
				</tr>
				{% if entity.controle|length > 0 %}
				<tr>
					<th style="width:145px;" >{{ entity.controle|length==1 ? 'Nom du contrôle' : 'Les contrôles' }}:</th>
					<td style="padding-left: 50px;">
					{% for controle in entity.controle %}
						<a href="{{ path('details_controle', {id: controle.id}) }}">{{ controle }}</a>
						{% if loop.index!=loop.last %}<br>{% endif %}
					{% endfor %}
					</td>
				</tr>
				{% endif %}
				{% if entity.planAction is not empty %}
				<tr>
					<th style="width:145px;" >{{ entity.planAction|length==1 ? "Plan d'action" : "Les plans d'action" }}:</th>
					<td style="padding-left: 50px;">
					{% for planAction in entity.planAction %}
						<a href="{{ path('details_planaction', {id: planAction.id}) }}">{{ planAction }}</a>
						{% if loop.index!=loop.last %}<br>{% endif %}
					{% endfor %}
					</td>
				</tr>
				{% endif %}
				<tr>
					<th style="width:145px;" >Dernière évaluation:</th>
					{% if entity.grille is empty %}
					<td style="padding-left: 50px;color: red;font-weight: bold;font-size: 16px;">Aucune évaluation effectuée</td>
					{% else %}
					<td style="padding-left: 50px;vertical-align: middle;">
						<div style="float: left;">{{ entity.grille|nl2br }}</div>
					</td>
					{% endif %}
				</tr>
			</tbody>
		</table>
		<ul class="tabs header no-margin" >
			<li ><a href="#tab1">Les évaluations</a></li>
		</ul>
		<div id="tab1" class="tab_content">
			<table class="display no-margin">
				<thead>
					<tr>
						<th>Evaluateur</th>
						<th>Date d'évaluation</th>
						<th>Constat</th>
						<th align="left">Note</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
				{% for eoc in entity.cause.evaluation %}
					 <tr>
						<td >{{ eoc.evaluation.evaluateur }}</td>
						<td >{{ eoc.evaluation.dateEvaluation | localizeddate('medium', 'none', 'fr')}}</td>
						<td >{{ eoc.grille }}</td>
						<td align="left">{{ eoc.grille? eoc.grille.note.valeur: '' }} [{{ eoc.grille?eoc.grille.note:'' }}]</td>
						<td>
							<span class="tip" >
	                			<a title="Détails" href="{{ path('details_evaluation', {id: eoc.evaluation.id }) }}">
		                			<img src="{{ asset('bundles/orangemain/images/icon/color_18/info.png') }}" >
		                		</a>
                			</span> 
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="5" align="center" style="color: red;font-weight: bold;font-family: serif;font-size: 16px;">Aucune évaluation effectuée</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
			</div>
		</div><!--tab1-->
	</div><!--/END TAB/-->
	<div class="clear"/></div>
	</div>
{% endblock %}
