{% extends 'base.html.twig' %}

{% block content %}
 <!--// two column window -->
	<div class="column_left">
		<div class="onecolumn">
			<div class="header">
				<span id="title_processus_in_tdb">
					<span class="ico gray spreadsheet"></span>Dernières validations des plans d'actions
				</span>
				<div id="buttom_top">
					<ul class="uibutton-group">
						<li id="btn_parent_processus" style="display: none;">
							<a class="uibutton actionLink" modal-url="{{ path('le_parent_du_processus_courant') }}" call="setTitleParentInTdb" data-target="target_parent_processus" onclick="refreshTdbByProcessus('{{ path('les_processus_du_tdb') }}', 
								'{{ path('les_activites_du_tdb') }}', '{{ path('les_risques_du_tdb') }}', '{{ path('les_controles_du_tdb') }}', '{{ path('les_pa_du_tdb') }}', false)">
							<img src="{{ asset('assets/bundles/orangemain/images//icon/color_18/directional_up.png') }}" alt="up" > Processus parent</a>
						</li>
						<li><a class="uibutton" href="{{ path('les_processus') }}"><img src="{{ asset('assets/bundles/orangemain/images//icon/color_18/eye.png') }}" alt="eye" > Afficher tout</a></li>
					</ul>
				</div>
			</div>
			<br class="clear"/>
            <div class="content">
				<div class="tableName">
					<table id="processusTable" class="display simple_table" >
						<thead>
							<tr>
								<th><div class="th_wrapp">Code</div></th>
								<th><div class="th_wrapp">Libellé</div></th>
								<th><div class="th_wrapp">Structure</div></th>
								<th width="30px"><div class="th_wrapp">Actions</div></th>
							</tr>
						</thead>
						<tbody>
						 	<tr class="odd gradeX">
						 		<td colspan="5">Chargement des données en cours ...</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
    <div class="column_right" >
    	<div class="onecolumn">
    		<div class="header">
				<span>
					<span class="ico gray spreadsheet"></span>
					Dernières validations des contrôles
				</span>
				<div id="buttom_top">
					<ul class="uibutton-group">
							<li><a class="uibutton" href="{{ path('les_activites') }}"><img src="{{ asset('assets/bundles/orangemain/images//icon/color_18/eye.png') }}" alt="eye" > Afficher tout</a></li>
		            </ul>
		        </div>
			</div>
            <br class="clear"/>
            <div class="content">
				<div class="tableName">
					<table id="activiteTable" class="display simple_table" >
						<thead>
							<tr>
								<th><div class="th_wrapp">Code</div></th>
								<th><div class="th_wrapp">Libellé</div></th>
								<th><div class="th_wrapp">Processus</div></th>
								<th width="30px"><div class="th_wrapp">Actions</div></th>
							</tr>
						</thead>
						<tbody>
						 	<tr class="odd gradeX">
						 		<td colspan="4">Chargement des données en cours ...</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
      	</div>
	</div>
	<!--// end two column window -->
    <div class="clear"></div>
    <div class="onecolumn">
    	<div class="header">
			<span>
				<span class="ico gray spreadsheet"></span>
				Liste des risques
			</span>
			<div id="buttom_top">
				<ul class="uibutton-group">
					<li><a class="uibutton" href="{{ path('les_risques') }}"><img src="{{ asset('assets/bundles/orangemain/images//icon/color_18/eye.png') }}" alt="eye" > Afficher tout</a></li>
		        </ul>
		    </div>
		</div>
        <br class="clear"/>
        <div class="content">
			<div class="tableName">
				<table id="risqueTable" class="display simple_table" >
					<thead>
						<tr>
							<th><div class="th_wrapp">Code</div></th>
							<th><div class="th_wrapp">Libellé</div></th>
							<th><div class="th_wrapp">Activité</div></th>
							<th><div class="th_wrapp">Responsable</div></th>
							<th><div class="th_wrapp">Profil</div></th>
							<th width="30px"><div class="th_wrapp">Actions</div></th>
						</tr>
					</thead>
					<tbody>
					 	<tr class="odd gradeX">
					 		<td colspan="6">Chargement des données en cours ...</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
    </div>
    <div class="clear"></div>
{% endblock %}

{% block script_js %}
	{{ parent() }}
	{# {{ block_render('::form_div_layout.html.twig', 'datatable_options', {has_buttons: true, with_tag: 1 }) }} #}
	{% include 'extra/datatable.html.twig' with {
		idTable: 'processusTable', url: path('les_processus_du_tdb'), nosorting: {0:0, 1:1, 2:2, 3:3}, index: 0, invisible: {0:1},
		functionRowDraw: "setUrlToParentProcessus(row, data);"} 
	%}
	{% include 'extra/datatable.html.twig' with {idTable: 'activiteTable', url: path('les_activites_du_tdb'), nosorting: {0:0, 1:1, 2:2, 3:3}, index: 1 } %}
	{% include 'extra/datatable.html.twig' with {idTable: 'risqueTable', url: path('les_risques_du_tdb'), nosorting: {0:0, 1:1, 2:2, 3:3, 4:4}, index: 2 } %}
{% endblock %}
