{% extends 'configuration/index.html.twig' %}
{% form_theme form 'OrangeMainBundle:Extra:simple_form_theme.html.twig' %}

{% set dataForm, grilleFormName, grilleFormId = null, form.grille.vars.prototype.vars.full_name, 'bareme___name__' %}
{% for grilleForm in form.grille %}
	{% set dataForm = dataForm ~ '{' %}
	{% set dataForm = '%s"%s": "%s", '|format(dataForm, grilleForm.libelle.vars.name, grilleForm.vars.value.libelle|replace({'\n':'', '\r':''})) %}
	{% set dataForm = '%s"%s": "%s"'|format(dataForm, grilleForm.niveauCause.vars.name, grilleForm.vars.value.niveauCause ? grilleForm.vars.value.niveauCause : null) %}
	{% set dataForm = dataForm ~ '}' %}
	{% if loop.index!=loop.last %}
		{% set dataForm = dataForm ~ ', ' %}
	{% endif %}
{% endfor %}
{% set dataForm = '[' ~ ((dataForm is not empty) ? dataForm : null) ~ ']' %}

{% block menu_config %}
	{% include 'configuration/configuration.html.twig' with {position: 5} %}
{% endblock %}

{% block header_config %}
<div class="header">
	<span>
		<span class="ico color gear"></span>Edition de la grille
	</span>
	<div id="buttom_top">
		<ul class="uibutton-group">
			<li><a class="uibutton icon answer" href="{{ path('les_baremes') }}">Retour aux barêmes</a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block content_config %}
<div class="content">
	<div class="clear"></div>
	<form  novalidate="novalidate"  action="{{ path('modifier_bareme', {id: entity.id}) }}" method="POST">
		<div class="contentForm">
			{{ form_row(form.libelle, {attr: {class: 'large'}}) }}
			{{ form_row(form.modeFonctionnement, {attr: {class: 'chzn-select full'}}) }}
		</div>
		<ul class="tabs header" >
			<li ><a href="#tab1">Les notes </a></li>
		</ul>
		<div id="tab1" class="tab_content">
			<ul class="uibutton-group">
				<li><a id="bareme_add" class="uibutton icon add"  title="Ajouter une note" href="#">Ajout une note</a></li>
			</ul>
			<div id="bareme" class="contentForm">
			<!-- Form template-->
			  	<div id="bareme_template">
			  		<div style="width: 60%;display: inline-block;">
				    	<label for="{{ grilleFormId }}_libelle">Libellé </label>
				    	{{ form_widget(form.grille.vars.prototype.libelle, {id: grilleFormId ~ '_libelle', attr: {class: 'full'}}) }}
			    	</div>
			  		<div style="width: 200px;display: inline-block;vertical-align: bottom;">
				    	<label for="{{ grilleFormId }}_niveauCause">Niveau </label>
				    	{{ form_widget(form.grille.vars.prototype.niveauCause, {id: grilleFormId ~ '_niveauCause', attr: {class: 'no-chzn large'}}) }}
				    	{{ form_widget(form.grille.vars.prototype.cartographie, {id: grilleFormId ~ '_cartographie', attr: {value: form.vars.value.cartographie}}) }}
			    	</div>
			    	<div style="width: 30px;float: right;">
				    	<a id="bareme_remove_current" title="Supprimer la cause">
				      		<img class="delete" src="{{ asset('bundles/orangemain/images/icon/icon_delete.png') }}" width="16" height="16" border="0">
				    	</a>
			    	</div>
			  	</div>
			  	<!-- /Form template-->
			  	<!-- No forms template -->
			  	<div id="bareme_noforms_template" style="text-align: center;color: #f60;font-size: 20px;">Aucune cause n'est encore identifiée</div>
			  	<!-- /No forms template-->
			</div>
		</div><!--tab1-->
		{{ form_row(form._token) }}
		<div class="section footer last">
			<div>
				<button class="uibutton loading">Enregistrer</button>
				<input type="reset"  class="uibutton special" value="Effacer" >
			</div>
		</div>
	</form>
</div>
{% endblock %}

{% block add_script_js %}
	{% include 'extra/sheepit.html.twig' with {
			content: '#bareme', options: '{iniFormsCount: 0, minFormsCount: 0, indexFormat: "__name__", data: ' ~ dataForm ~ ', ' ~ 
			'afterAdd: function(source, addForm) { $(addForm).find("select").selectmenu({style: "dropdown"}); }, ' ~ 
			'afterFill: function(source, addForm, value) { $(addForm).find("select").selectmenu("destroy").selectmenu({style: "dropdown"}); } }',
			embeddedForm: form.grille, error_fields: {'grille': {0:'libelle', 1:'niveauCause'}} } 
		%}
{% endblock %}
