{% extends 'configuration/index.html.twig' %}

{% block menu_config %}
	{% include 'configuration/configuration.html.twig' with {position: 5} %}
{% endblock %}

{% block header_config %}{% endblock %}

{% block separator_config %}{% endblock %}

{% block content_config %}
<div id="critereTable" class="content">
	<ul class="tabs header">
	{% for typeGrille in entities if typeGrille.etat==1 %}
        <li style="display: list-item;" class="{{ loop.index==1 ? 'active' : null }}"><a href="#tab{{ loop.index }}">{{ typeGrille }}</a></li>
    {% endfor %}
    </ul>
    <div class="tab_container no-margin">
    {% for typeGrille in entities if typeGrille.etat==1 %}
        <div id="tab{{ loop.index }}" class="tab_content">
        	<div>
				<ul class="uibutton-group">
					<li><a class="uibutton icon edit" href="{{ path('edition_bareme', {id: typeGrille.id}) }}" title="Edition de la grille">Edition de la grille</a></li>
	            </ul>
        	</div>
			<table class="display no-margin">
				<thead>
					<tr>
						<th width="20%"><div class="th_wrapp">Niveau</div></th>
						<th width="30%"><div class="th_wrapp">Libellé</div></th>
						<th width="50%" align="left"><div class="th_wrapp">Description</div></th>
					</tr>
				</thead>
				<tbody>
				{% for note in typeGrille.note if note.etat==1 %}
				 	<tr class="odd gradeX">
						<td style="text-align: center;vertical-align: middle;">{{ note.valeur }}</td>
						<td>{{ note }}</td>
						<td align="left">
							{% set numberGrille = note.activeGrille|length %}
							{% if numberGrille > 1 %}<ul style="text-align: left;">{% endif %}
							{% for grille in note.activeGrille %}
								{% if numberGrille > 1 %}<li>{{ grille|raw }}</li>{% else %}{{ grille|raw }}{% endif %}
							{% endfor %}
							{% if numberGrille > 1 %}</ul>{% endif %}
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
		{% endfor %}
	</div>
</div>
<div class="clear"></div>
{% endblock %}
