{% extends "::base.html.twig" %}

{% block navigation %}
	{{ knp_menu_render('OrangeMainBundle:Builder:showMenu', {'template': 'OrangeMainBundle:Extra:knp_menu.html.twig', 'item': {1:'Risque'} }) }}
{% endblock %}
{% block content %}
<div class="onecolumn" >
	<div class="header"><span ><span class="ico color info">
		</span>Détails de l'impact</span> 
		<div id="buttom_top">
			<ul class="uibutton-group">
				<li><a class="uibutton icon confirm answer" href="{{ path('les_impacts') }}" title="les causes">Les impacts</a></li>
            </ul>
        </div>
	</div>
	<div class="clear"></div>
	<div class="content" >
		<table class="show_table">
			<tbody>
				<tr>
					<th style="width:145px;" >Critère:</th>
					<td style="padding-left: 50px;">{{ entity.critere }}</td>
				</tr>
				<tr>
					<th style="width:145px;" >Domaine:</th>
					<td style="padding-left: 50px;">{{ entity.critere.domaine }}</td>
				</tr>
				<tr>
					<th style="width:145px;" >Nom du risque:</th>
					<td style="padding-left: 50px;"><a href="{{ path('details_risque', {id: entity.risque.id}) }}">{{ entity.risque }}</a></td>
				</tr>
				<tr>
					<th style="width:145px;" >Dernière évaluation:</th>
					{% if entity.grille is empty %}
					<td style="padding-left: 50px;color: red;font-weight: bold;font-size: 16px;">Aucune évaluation effectuée</td>
					{% else %}
					<td style="padding-left: 50px;">{{ entity.grille }} [{{ entity.grille.note }} = {{ entity.grille.note.valeur }}]</td>
					{% endif %}
				</tr>
			</tbody>
		</table>
		<ul class="tabs header no-margin" >
			<li ><a href="#tab1">Les évaluations</a></li>
		</ul>
		<div id="tab1" class="tab_content">
			<table class="display no-margin">
				<thead>
					<tr>
						<th>Evaluateur</th>
						<th>Date d'évaluation</th>
						<th>Constat</th>
						<th>Note</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
				{% for eoc in entity.evaluation %}
					 <tr>
						<td >{{ eoc.evaluation.evaluateur }}</td>
						<td >{{ eoc.evaluation.dateEvaluation | localizeddate('medium', 'none', 'fr')}}</td>
						<td >{{ eoc.grille }}</td>
						<td >{{ eoc.grille.note }}</td>
						<td>
							<span class="tip" >
	                			<a title="Détails" href="{{ path('details_evaluation', {id: eoc.evaluation.id }) }}">
		                			<img src="{{ asset('assets/bundles/orangemain/images/icon/color_18/info.png') }}" >
		                		</a>
                			</span> 
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="5" align="center" style="color: red;font-weight: bold;font-family: serif;font-size: 16px;">Aucune évaluation effectuée</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
			{# </div>#}
		</div><!--tab1-->
	</div><!--/END TAB/-->
	<div class="clear"/></div>
	</div>
</div>
{% endblock %}
