{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
	<div class="contentForm">
		<form  novalidate="novalidate"  action="{{ path('edition_utilisateur', {id: user.id}) }}" {{ form_enctype(form) }} method="POST">
			{{ form_row(form.prenom) }}
			{{ form_row(form.nom) }}
			{{ form_row(form.email, {attr: attr|default({class: 'medium'})}) }}
			{{ form_row(form._token) }}
			{{ form_row(form.matricule) }}
			{{ form_row(form.username) }}
			<div style="display: none;"> {{ form_row(form.roles) }}</div>
			{{ form_row(form.manager) }}
			{{ form_row(form.telephone) }}
			{{ form_row(form.structure) }}
			{{ form_row(form.societeOfAdministrator) }}
			{{ form_row(form.societeOfRiskManager) }}
			{{ form_row(form.societeOfAuditor) }}
			{{ form_row(form.structureOfConsulteur) }}
			<div class="section last footer">
				<div>
					<button class="uibutton loading">{{ 'registration.submit'|trans }}</button>
					<input type="reset"  class="uibutton special" value="Effacer" >
				</div>
			</div>
		</form>
	</div>
{% endblock %}
