{% extends 'configuration/index.html.twig' %}
{% form_theme form 'extra/simple_form_theme.html.twig' %}

{% block menu_config %}
	{% include 'configuration/configuration.html.twig' with {position: 1} %}
{% endblock %}

{% block header_config %}
<div class="header">
	<span>
		<span class="ico color gear"></span>Edition de la famille
	</span>
	<div id="buttom_top">
		<ul class="uibutton-group">
			<li><a class="uibutton icon add" href="{{ path('nouvelle_famille') }}">Nouvelle famille</a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block content_config %}
<div class="onecolumn">
	<div class="clear"></div>
	<div class="contentForm">
		<form novalidate="novalidate"  action="{{ path('modifier_famille', {'id': entity.id}) }}" method="POST">
			{{ form_row(form.libelle, {attr: {class: 'large'}}) }}
			{{ form_row(form.parent) }}
			{{ form_row(form.description) }}
			{{ form_row(form._token) }}
			<div class="section last">
				<div>
					<button class="uibutton loading">Enregistrer</button>
					<input type="reset"  class="uibutton special" value="Effacer" />
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}
