{% extends 'configuration/index.html.twig' %}

{% block menu_config %}{% include 'configuration/configuration.html.twig' %}{% endblock %}

{% block header_config %}{% endblock %}

{% block separator_config %}{% endblock %}

{% block content_config %}
<div id="critereTable" class="content">
	<ul class="tabs header">
	{% for typeGrille in entities %}
        <li style="display: list-item;" class="{{ loop.index==1 ? 'active' : null }}"><a href="#tab{{ loop.index }}">{{ typeGrille.cartographie }}</a></li>
    {% endfor %}
    </ul>
    <div class="tab_container no-margin">
    {% for typeGrille in entities if typeGrille.etat==1 %}
        <div id="tab{{ loop.index }}" class="tab_content">
        	<div>
				<ul class="uibutton-group">
					<li>
						<a class="uibutton icon add actionLink" modal-url="{{ path('nouveau_domaine_impact', {id: typeGrille.cartographie.id}) }}" data-toggle="modal" data-target="#myModal" title="Ajout d'un domaine">
							Nouveau domaine
						</a>
					</li>
					<li><a class="uibutton icon add" href="{{ path('nouveau_critere', {id: typeGrille.cartographie.id}) }}" title="Ajout d'un critère">Nouveau critère</a></li>
	            </ul>
        	</div>
			<table class="display no-margin grille_datatable">
				<thead>
					<tr>
						<th><div class="th_wrapp">Niveau</div></th>
						<th><div class="th_wrapp">Critère</div></th>
						{% for gravite in typeGrille.note %}
							<th width="15%"><div class="th_wrapp">{{ gravite }}</div></th>
						{% endfor %}
						<th width="20px"><div class="th_wrapp">&nbsp;</div></th>
					</tr>
				</thead>
				<tbody>
				{% for domaine in typeGrille.cartographie.domaine if domaine.etat==1 %}
					{% set numberCritere = domaine.critere|length %}
					{% for critere in domaine.critere %}
				 	<tr {% if typeGrille.cartographie.domaine|length - 1 %} class="last_row" {% endif %}>
				 		{% if loop.index0==0 %}
						<td style="text-align: center;vertical-align: middle;" {% if numberCritere > 1 %}rowspan="{{ numberCritere }}"{% endif %}>
							{{ domaine }}
						</td>
						{% endif %}
						<td {% if critere.etat!=1 %}style="background-color:#aaa;color:#000;"{% endif %}>{{ critere }}</td>
						{% for gravite in typeGrille.note %}
							<td {% if critere.etat!=1 %}style="background-color:#aaa;color:#000;"{% endif %}>
								{% set lengthGrille = critere.grilleImpactByValue(gravite.valeur)|length %}
								{% if lengthGrille > 1 %}<ul style="text-align: left;">{% endif %}
								{% for grilleImpact in critere.grilleImpactByValue(gravite.valeur) %}
									{% if lengthGrille > 1 %}<li>{{ grilleImpact }}</li>{% else %}{{ grilleImpact }}{% endif %}
								{% endfor %}
								{% if lengthGrille > 1 %}</ul>{% endif %}
							</td>
						{% endfor %}
						{% if critere.etat!=1 %}
							<td style="background-color:#aaa;color:#000;"></td>
							{% else %}
							<td>
								<span class="tip" >
									<a  title="Détails" href="{{ path('details_critere', {'id': critere.id}) }}">
										<img src="{{ asset('bundles/orangemain/images/icon/color_18/info.png') }}" >
									</a>
								</span> &nbsp;&nbsp;
								{% if app.user.hasRoles(['ROLE_RISKMANAGER', 'ROLE_ADMIN']) %}
								<span class="tip" >
									<a  title="Modifier" href="{{ path('edition_critere', {'id': critere.id}) }}">
										<img src="{{ asset('bundles/orangemain/images/icon/color_18/pencil.png') }}" >
									</a>
								</span> &nbsp;&nbsp;
								<span class="tip" >
									<a id="1" class="actionLink" href="#myModal" data-toggle="modal" data-target="#myModal" class="actionLink" modal-url="{{ path('suppression_critere', {'id': critere.id}) }}">
										<img src="{{ asset('bundles/orangemain/images/icon/color_18/delete.png') }}" >
									</a>
								</span>
								{% endif %}
							</td>
						{% endif %}
					</tr>
					{% endfor %}
					{% if numberCritere==0 %}
						<tr class="odd gradeX">
							<td style="text-align: center;vertical-align: middle;">{{ domaine }}</td>
							<td colspan="6">Aucun critère</td>
						</tr>
					{% endif %}
				{% endfor %}
				</tbody>
			</table>
		</div>
		{% endfor %}
	</div>
</div>
<div class="clear"></div>
{% endblock %}
