	<ul class="tabs header no-margin">
		<li><a href="#tab1">Les causes</a></li>
		<li><a href="#tab2">Les impacts</a></li>
		{% if preview==0  %} <li><a href="#tab3">Les évaluations</a></li> {% endif %}
		<li><a href="#tab4">Les plans d'action</a></li>
		<li><a href="#tab5">Les controles</a></li>
	</ul>
	<!--// two column window -->
	<div id="tab1" class="tab_content">
        <div class="content_table">
			<div class="tableName">
				<table class="display simple_table" id="tab_causes" >
					<thead>
						<tr>
							<th><div class="th_wrapp">Libellé</div></th>
{# 							<th><div class="th_wrapp">Famille</div></th>#}
							<th><div class="th_wrapp">Probabilité</div></th>
							<th style="width: 150px"><div class="th_wrapp">Action</div></th>
						</tr>
					</thead>
					<tbody>
					{% for causeOfRisque in entity.causeOfRisque %}
						 <tr class="odd gradeX">
							<td>{{ causeOfRisque.cause }}</td>
{# 							<td>{{ causeOfRisque.cause.famille }}</td>#}
							<td><b>{{ causeOfRisque.grille ? causeOfRisque.grille.note.valeur ~ ' <=> ' ~ causeOfRisque.grille.note  : 'NC' }}</b></td>
							<td>
						  	<span class="tip">
				                <a title="details de la cause" href="{{ path('details_cause', {id: causeOfRisque.id}) }}">
				                	<img src="{{ asset('bundles/orangemain/images/icon/color_18/info.png') }}" >
				                </a>
				                {% if has_rights('ROLE_ADMIN') or has_rights('ROLE_SUPER_ADMIN') or has_rights('ROLE_RISKMANAGER')  %}
 					                <a title="Modifier Cause" href="{{ path('edition_risque', {id: entity.id}) }}">
 					                	<img src="{{ asset('bundles/orangemain/images/icon/color_18/pencil.png') }}" />
 					                </a>
 					                {% if (entity.causeOfRisque|length >= 2) %}
 					                <a title="Supprimer Cause" class="actionLink" href="#myModal" 
 					                	data-toggle="modal" data-target="#myModal" 
 					                	modal-url="{{ path('supprimer_cause_du_risque', {id: causeOfRisque.id}) }}">
 					                	<img src="{{ asset('bundles/orangemain/images/icon/color_18/cancel.png') }}" >
 					                </a>
 					                {% endif %}
 					            {% endif %}
{#
								{% if has_rights('ROLE_ADMIN') or has_rights('ROLE_SUPER_ADMIN') or has_rights('ROLE_RISKMANAGER')  %}
 					                <a title="Supprimer" class="actionLink"  href="#myModal" 
										data-toggle="modal" data-target="#myModal" 
										modal-url="{{ path('supprimer_cause_du_risque', {id: causeOfRisque.id}) }}">
 					                	<img src="{{ asset('bundles/orangemain/images/icon/color_18/cancel.png') }}" />
 					                </a>
 					            {% endif %}
#}
						  	</span>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="4" style="color: red;font-weight: bold;">Aucune cause n'est identifiée</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div id="tab2" class="tab_content">
        <div class="content_table">
			<div class="tableName">
				<table class="display simple_table" >
					<thead>
						<tr>
							<th><div class="th_wrapp">Critére</div></th>
							<th><div class="th_wrapp">Domaine</div></th>
							<th><div class="th_wrapp">Gravité</div></th>
							<th><div class="th_wrapp">Action</div></th>
						</tr>
					</thead>
					<tbody>
					{% for impactOfRisque in entity.impactOfRisque %}
					 	<tr class="odd gradeX">
							<td >{{ impactOfRisque.impact.critere }}</td>
							<td >{{ impactOfRisque.impact.critere? impactOfRisque.impact.critere.domaine : 'Aucun'  }}</td>
							<td >{{ impactOfRisque.grille ? impactOfRisque.grille.note : 'Non renseigné' }}</td>
							<td>
						  	<span class="tip">
				                <a title="details" href="{{ path('details_impact', {id: impactOfRisque.impact.id}) }}">
				                	<img src="{{ asset('bundles/orangemain/images/icon/color_18/info.png') }}" >
				                </a>
						  	</span>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="3" style="color: red;font-weight: bold;">Aucun impact n'est identifié</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
   	</div>
   	{% if preview==0 %}
   	<div id="tab3" class="tab_content">
		<ul class="uibutton-group">
			<li><a class="uibutton" href="{{ path('nouvelle_evaluation', {id: entity.id}) }}"><img src="{{ asset('bundles/orangemain/images//icon/color_18/pyramid.png') }}" alt="eye" > Evaluer</a></li>
        </ul>
		<div class="content_table">
			<div class="tableName">
				<table class="display simple_table" >
					<thead>
						<tr>
							<th><div class="th_wrapp">Date d'évaluation</div></th>
							<th><div class="th_wrapp">Probabilité </div></th>
							<th><div class="th_wrapp">Gravité</div></th>
							<th><div class="th_wrapp">Criticité</div></th>
							<th><div class="th_wrapp">Action</div></th>
						</tr>
					</thead>
					<tbody>
						{% for evaluation in entity.evaluation %}
					 	<tr class="odd gradeX">
							<td >{{ evaluation.dateEvaluation|date('d-m-Y à H:i') }}</td>
							<td >{{ evaluation.probabilite }}</td>
							<td >{{ evaluation.gravite }}</td>
							<td style="color: {{ evaluation.criticite ? evaluation.criticite.couleur: '#000' }};font-weight: bold;">
								{{ evaluation.probabilite }} * {{ evaluation.gravite }} = [{{ evaluation.criticite }}]  ou {{ evaluation.criticite|show_status }}
							</td>
							<td>
								<span class="tip" >
									<a  title="details" href="{{ path('details_evaluation', {'id':evaluation.id}) }}">
								    	<img src="{{ asset('bundles/orangemain/images/icon/color_18/info.png') }}" />
								    </a>
								</span>
								
							</td> 
						</tr>
						{% else %}
							<tr>
								<td colspan="5" style="color: red;font-weight: bold;">Aucune évaluation n'est faite</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	{% endif %}
	<div id="tab4" class="tab_content">
		<ul class="uibutton-group">
			<li><a class="uibutton icon add" title="Ajouter plan d'action" href="{{ path('nouveau_planaction_de_risque', {'risque_id':entity.id}) }}"> Plan d'action</a></li>
		</ul>
       	<div class="content_table">
			<div class="tableName">
				<table class="display simple_table" >
					<thead>
						<tr>
							<th><div class="th_wrapp">Code</div></th>
							<th><div class="th_wrapp" style="width: 300px">Libellé</div></th>
							<th width="120px"><div class="th_wrapp">Date de début</div></th>
							<th width="120px"><div class="th_wrapp">Date de fin</div></th>
							<th width="100px"><div class="th_wrapp">Statut</div></th>
							<th><div class="th_wrapp">Actions</div></th>
						</tr>
					</thead>
					<tbody>
						{% for planAction in entity.planAction %}
					 	<tr class="odd gradeX">
							<td title="{{ planAction.libelle }}" >{{ planAction.code }}</td>
							<td>{{ planAction.libelle }}</td>
							<td>
							{% if planAction.dateDebut == null %}
							    NC
							{% else %}
								{{ planAction.dateDebut | localizeddate('medium', 'none', 'en') }}
							{% endif %}
							</td>
							<td>
							{% if planAction.dateFin == null %}
							    NC
							{% else %}
							    {{ planAction.dateFin | localizeddate('medium', 'none', 'en') }}
							{% endif %}
							</td>
							<td>{{ planAction|show_status }}</td>
							<td>
						  	<span class="tip">
				                <a title="voir les détails" href="{{ path('details_planaction', {id: planAction.id}) }}">
				                	<img src="{{ asset('bundles/orangemain/images/icon/color_18/info.png') }}" >
				                </a>
				                {% if has_rights ('ROLE_ADMIN')  %}
				                    <a title="supprimer" class="actionLink" href="#myModal" data-toggle="modal" data-target="#myModal" modal-url="{{ path('supprimer_pa', {id: planAction.id}) }}">
					                	<img src="{{ asset('bundles/orangemain/images/icon/color_18/cancel.png') }}" >
					                </a>
				                {% endif %}
				                {% if planAction.statut is not empty and planAction.statut.id != global_ids.statut.plan_action.solde %}
					                <a title="Modifier" href="{{ path('edition_planaction', {id: planAction.id}) }}">
					                	<img src="{{ asset('bundles/orangemain/images/icon/color_18/pencil.png') }}" >
					                </a>
				                {% elseif  planAction.cause.controle is defined and planAction.cause.controle is empty  %}
					                <a title="Passer en dispositif" href="{{ path('a_mettre_en_dispositif', {pa_id: planAction.id}) }}">
					                	<img src="{{ asset('bundles/orangemain/images/icon/gray_18/satellite.png') }}" >
					                </a>
				                {% endif %}
				                {% if planAction.controle is not empty %}
					                <a title="Voir le controle" href="{{ path('details_controle', {id: planAction.controle.id}) }}">
					                	<img src="{{ asset('bundles/orangemain/images/icon/color_18/satellite.png') }}" >
					                </a>
				                {% endif %}
						  	</span>
							</td>
						</tr>
						{% else %}
						<tr>
							<td align="center" colspan="5" style="color: red;font-weight: bold;">Aucun plan d'action n'est saisi</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
	   	</div>
	</div>
    <div id="tab5" class="tab_content">
		<ul class="uibutton-group">
			<li><a class="uibutton icon add" title="Ajouter controle" href="{{ path('nouveau_controle_de_risque', {'risque_id':entity.id}) }}">Controle</a></li>
        </ul>
        <div class="content_table">
			<div class="tableName">
				<table class="display simple_table" >  
					<thead>
						<tr>
							<th style="width: 500px !important"><div class="th_wrapp" >Nom du contrôle</div></th>
							<th><div class="th_wrapp">Cause</div></th>
							<th><div class="th_wrapp">Maturité</div></th>
							<th><div class="th_wrapp">Porteur</div></th>
							<th><div class="th_wrapp">Superviseur</div></th>
							<th><div class="th_wrapp">Actions</div></th>
						</tr>
					</thead>
					<tbody>
						{% for controle in entity.controle %}
						 <tr class="odd gradeX">
							<td>{{ controle.description }}</td>
							<td>{{ controle.cause }}</td>
							<td>
							{% if controle.maturiteTheorique is defined and  controle.maturiteTheorique is not empty  %}
								{{ controle.maturiteTheorique.valeur }} <=> {{ controle.maturiteTheorique|show_status }}
							{% endif %}
							</td>
							<td>{{ controle.porteur }}</td>
							<td>{{ controle.superviseur }}</td>
							<td>
							  	<span class="tip" >
					                <a  title="details" href="{{ path('details_controle', {'id':controle.id}) }}">
					                	<img src="{{ asset('bundles/orangemain/images/icon/color_18/info.png') }}" >
					                </a>
					                {% if controle.planAction is empty %}
						                <a title="Saisir" href="{{ path('saisie_planaction', {controle_id: controle.id}) }}">
						                	<img src="{{ asset('bundles/orangemain/images/icon/gray_18/hammer.png') }}" >
						                </a>
					                {% else %}
						                <a title="Voir le plan d'action" href="{{ path('details_planaction', {id: controle.planAction.id}) }}">
						                	<img src="{{ asset('bundles/orangemain/images/icon/color_18/hammer.png') }}" >
						                </a>
					                {% endif %}
					                {% if controle.causeOfRisque is not empty %}
						                <a title="voir la cause" href="{{ path('details_cause', {id: controle.causeOfRisque.id}) }}">
						                	<img src="{{ asset('bundles/orangemain/images/icon/color_18/firewall.png') }}" >
						                </a>
					                {% endif %}
					                <a  title="Evaluer" class="actionLink" href="#myModal" data-toggle="modal" data-target="#myModal" modal-url="{{ path('evaluation_controle', {'id': controle.id}) }}">
					                	<img src="{{ asset('bundles/orangemain/images/icon/color_18/pyramid.png') }}" >
					                </a>
 									{% if has_rights('ROLE_ADMIN') or has_rights('ROLE_SUPER_ADMIN') or has_rights('ROLE_RISKMANAGER')  %}
 					                <a  title="Supprimer" class="actionLink"  href="#myModal" data-toggle="modal" data-target="#myModal" modal-url="{{ path('supprimer_controle', {'id': controle.id}) }}">
 					                	<img src="{{ asset('bundles/orangemain/images/icon/color_18/cancel.png') }}" >
 					                </a>
 					                {% endif %}
							  	</span>
							</td>
						</tr>
						{% else %}
							<tr>
								<td colspan="5" style="color: red;font-weight: bold;">Aucun controle n'est saisi</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	