{% extends 'configuration/index.html.twig' %}

{% block menu_config %}
	{% include 'configuration/identification.html.twig' with {position: 1} %}
{% endblock %}

{% block header_config %}
<div class="header">
	<span>
		<span class="ico color add"></span>Identification de risque
	</span>
	<div id="buttom_top">
		<ul class="uibutton-group">
			<li><a class="uibutton icon answer" href="{{ path('les_risques') }}">Liste des risques</a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block content_config %}
	<div class="contentForm">
		<form  novalidate="novalidate"  action="{{ entity.id is empty ? path('ajout_risque') : path('edition_risque', {'id': entity.id}) }}" method="POST">
			{% set structureCodeAfter %}
				<label class="other_label"><input class="other" target-id="{{ form.identification.structure.vars.id }}" type="checkbox" />Saisir la structure</label>
				{{ form_widget(form.identification.structure, {'show': false}) }}
			{% endset %}
			
			{% set processusCodeAfter %}
				{{ form_widget(form.identification.processus, {'show': false}) }}
			{% endset %}
			
			{% set activiteCodeAfter %}
				<label class="other_label"><input class="other" target-id="{{ form.identification.activite.vars.id }}" type="checkbox" />Saisir le nom de l'activité</label>
				{{ form_widget(form.identification.activite, {'show': false}) }}
			{% endset %}
			
			{% set projetCodeAfter %}
				<label class="other_label"><input class="other" target-id="{{ form.identification.projet.vars.id }}" type="checkbox" />Saisir le nom du projet</label>
				{{ form_widget(form.identification.projet, {'show': false}) }}
			{% endset %}
			
			{% set menaceCodeAfter %}
				<label class="other_label"><input class="other" target-id="{{ form.identification.libelle.vars.id }}" type="checkbox" />Saisir le nom du risque</label>
				{{ form_widget(form.identification.libelle, {'show': false}) }}
			{% endset %}
			
			{% set responsableCodeBefore %}
				Responsable de la structure choisie : {{ form_widget(form.proprietaire) }}
				<br><br>
			{% endset %}
			
			{% set causeSheepItTemplate %}
				{% include 'OrangeMainBundle:Extra:sheepIt_template.html.twig' with 
					{
						'id': form.causeOfRisque.vars.id,
						'prototype' : form.causeOfRisque.vars.prototype, 
						'prototypeTemplate' : 'OrangeMainBundle:Risque:risque_cause_prototype.html.twig',
						'addText': 'Ajouter une cause', 
						'removeAllText': 'Supprimer toutes les causes',
						'noFormText': 'Aucune cause n\'est encore identifiée !',
					}
				%}
			{% endset %}
			
			{% set impactSheepItTemplate %}
				{% include 'OrangeMainBundle:Extra:sheepIt_template.html.twig' with 
					{
						'id': form.impactOfRisque.vars.id,
						'prototype' : form.impactOfRisque.vars.prototype, 
						'prototypeTemplate' : 'OrangeMainBundle:Risque:risque_impact_prototype.html.twig',
						'addText': 'Ajouter un impact', 
						'removeAllText': 'Supprimer tous les impacts',
						'noFormText': 'Aucun impact n\'est encore identifié !',
					}
				%}
			{% endset %}
			
			{% set causeDataForm, impactDataForm = '', '' %}
			{% for causeForm in form.causeOfRisque %}
				{% set row %}
				{
					{{ '"%s": "%s"'|format(causeForm.cause.libelle.vars.name, causeForm.cause.libelle.vars.value)|raw }},
					{{ '"%s": "%s"'|format(causeForm.cause.famille.vars.name, causeForm.cause.famille.vars.value)|raw }},
					{{ '"%s": "%s"'|format(causeForm.cause.description.vars.name, causeForm.cause.description.vars.value)|raw }} 
				},
				{% endset %}
				{% set causeDataForm = causeDataForm ~ row %}
			{% endfor %}
			{% for impactForm in form.impactOfRisque %}
				{% set row %}
				{
					{{ '"%s": "%s"'|format(impactForm.impact.libelle.vars.name, impactForm.impact.libelle.vars.value)|raw }},
					{{ '"%s": "%s"'|format(impactForm.impact.critere.vars.name, impactForm.impact.critere.vars.value)|raw }},
				},
				{% endset %}
				{% set impactDataForm = impactDataForm ~ row %}
			{% endfor %}
			
			{% set causeDataForm, impactDataForm = '[%s]'|format(causeDataForm|raw), '[%s]'|format(impactDataForm|raw) %}
			
			<!-- Form content -->
			<div id="accordion">
			 <h3 >Choix du nom du risque</h3>
			  <div>
					{{ form_row(form.menace, {'code_after' : menaceCodeAfter }) }}
			  </div>
			  <h3>Choix de l'activité</h3>
			  <div>
				 	{{ form_row(form.structure, {'code_after' : structureCodeAfter}) }}
					{{ form_row(form.identification.responsable, {'code_before' : responsableCodeBefore, 'show': false}) }}
					{{ form_row(form.processus, {'code_after' : processusCodeAfter}) }}
					{{ form_row(form.activite, {'code_after' : activiteCodeAfter }) }}
			  </div>
			  <h3>Définition des causes du risque</h3>
			  <div>
			  		{{ form_row(form.causeOfRisque, {'sheeptIt_template' : causeSheepItTemplate }) }}
			  </div>
			</div>
					{{ form_row(form._token) }}
			<!-- /Form content -->
			<div class="section last footer">
				<div>
					<button id="save" class="uibutton loading" >Enregistrer</button>
					<a class="uibutton special" onClick="ResetForm()" title="Effacer">Effacer</a>
				</div>
			</div>
		</form>
	</div>

{% block add_script_js %}
	<script type="text/javascript">
		$( "#accordion" ).accordion({
			heightStyle: "fill",
			icons: { "header": "ui-icon-plus", "activeHeader": "ui-icon-minus" },
			beforeActivate: function( event, ui ) {
				/*if($(ui.newHeader.context).hasClass('last')) {
					$('#save').removeClass('disable').prop('disabled', false);
				} else {
					$('#save').addClass('disable').prop('disabled', true);
				}*/
			}
		});
		
		// code to execute after Select ajax load
		function afterStructureReload() {
			$("#{{ form.processus.vars.id }} option[value='{{ form.processus.vars.value }}']").attr('selected', 'selected');
			$("#{{ form.processus.vars.id }}").trigger('liszt:updated');
			$("#{{ form.activite.vars.id }} option[value='{{ form.activite.vars.value }}']").attr('selected', 'selected');
			$("#{{ form.activite.vars.id }}").trigger('liszt:updated');
		}
		
		function afterProcessusReload() {
			$("#{{ form.activite.vars.id }} option[value='{{ form.activite.vars.value }}']").attr('selected', 'selected');
			$("#{{ form.activite.vars.id }}").trigger('liszt:updated');
			
		}

		$('label input[type="checkbox"].other').each(function(index) {
			var target = $('#' + $(this).attr('target-id'));
			$(this).prop('checked', target.val().length !== 0 ? 'checked' : null);
			if(target.val().length !== 0) {
				target.parent().show();
			}
		});
		
		$('label input[type="checkbox"].other').on('change', function(e) {
			var target = $('#' + $(this).attr('target-id'));
			toggle(target.closest('div'), this.checked);
			if(!this.checked) {
				target.val('')
			}
		});

		
		// on ProfilRisque change

	
	</script>
	
{% endblock %}

{% set codeAfterResponsableUpdate %}
		var show = false;
		if(result == 'Aucun') {
			show = true;
		}
		var obj = $('#{{ form.identification.responsable.vars.id }}').closest('div');
		toggle(obj, show);
{% endset %}

{% include 'extra/reloadSelect.html.twig' with 
	{parent: form.structure, child: form.processus, url: path('get_processus_by_structure'), key: 'id', empty_child: 1, functionAfter: 'afterStructureReload'} 
%}
{% include 'extra/reloadSelect.html.twig' with 
	{parent: form.structure, child: form.activite, url: path('get_activities_by_structure'), key: 'id', empty_child: 1	, functionAfter: 'afterStructureReload'} 
%}
{% include 'extra/updateField.html.twig' with 
	{parent: form.structure, fieldId: 'responsable', url: path('get_responsable_by_structure'), key: 'id', empty_child: 0, codeAfter: codeAfterResponsableUpdate} 
%}
{% include 'extra/reloadSelect.html.twig' with 
	{parent: form.processus, child: form.activite, url: path('get_activities_by_processus'), key: 'id', empty_child: 1, functionAfter: 'afterProcessusReload'} 
%}


{% include 'extra/sheepit.html.twig' with {
				with_script: true,
				content: '#' ~ form.causeOfRisque.vars.id, 
				options: '{' ~
					'iniFormsCount: 1, minFormsCount: 0, indexFormat: "__name__", data: ' ~ causeDataForm ~ ', separator: "", allowRemoveAll: true, ' ~ 
					'afterAdd: function(source, addForm) { $(addForm).find("select").selectmenu({style: "dropdown"}); }, ' ~ 
					'afterFill: function(source, addForm, value) { $(addForm).find("select").selectmenu("destroy").selectmenu({style: "dropdown"}); }, ' ~ 
					'removeAllConfirmationMsg: "Vous êtes sur le point de supprimer toutes les causes liées à ce risque. Voulez vous vraiment continuer ?", ' ~
					'afterRemoveCurrent: function(source) {  } ' ~
					'}', 
				embeddedForm: form.causeOfRisque, 
				error_fields: {'cause': { 0:'libelle' }} 
			}
 %}

{{ block_render('extra/reload_select.html.twig', 'reload_checkbox_by_select', {
		parent: '"#' ~ form.profilRisque.vars.id ~ '"', child: '"#' ~ form.domaineImpact.vars.id ~ '"', 
		url: path('domaineimpact_by_profilrisque'), key: 'id', is_js_object: 1, change_onload: 0, functionAfter: 'refreshCheckbox'}) 
	}}
{% set reload_event %}
	{{ block_render('extra/reload_select.html.twig', 'reload_by_checkbox', {
			parent: '\'[name="' ~ form.domaineImpact.vars.full_name ~ '[]"]\'', 
			child: '"#' ~ form.impactOfRisque.vars.id ~ ' select.select_child"',
			url: path('critere_by_domaines'), key: 'ids', is_js_object: 1, functionAfter: 'refreshSelect' 
		}) 
	}}
{% endset %}
{% include 'extra/sheepit.html.twig' with {
				with_script: true,
				content: '#' ~ form.impactOfRisque.vars.id, 
				options: '{' ~
					'iniFormsCount: 1, minFormsCount: 0, maxFormsCount: 100, indexFormat: "__name__", data: ' ~ impactDataForm ~ ', separator: "", allowRemoveAll: true, ' ~ 
					'afterAdd: function(source, addForm) { $(addForm).find("select").selectmenu({style: "dropdown"}); }, ' ~ 
					'afterFill: function(source, addForm, value) { $(addForm).find("select").selectmenu("destroy").selectmenu({style: "dropdown"}); }, ' ~ 
					'removeAllConfirmationMsg: "Vous êtes sur le point de supprimer tous les impacts liés à ce risque. Voulez vous continuer ?", ' ~
					'}', 
				embeddedForm: form.impactOfRisque, 
			}
 %}
{{ reload_event }}
{% endblock %}
