<div class="risque_cause_row" onload="customizeCause()"> 
	<span  for="label">Cause n°<span id="label"></span></span>
	<div style="display: none">
		{{ form_widget(form.carto)}}
	</div>
 	{{ form_row(form.cause)}}
 	{{ form_row(form.choice) }}
 	{{ form_row(form.newCause.libelle, {id: id ~ '___name___libelle'}) }}
	<a id="{{ id }}_remove_current" title="Supprimer la cause">
		<img class="delete" src="{{ asset('bundles/orangemain/images/icon/icon_delete.png') }}" width="16" height="16" border="0">
	</a>
</div>

<script type="text/javascript">
</script>