{# {% form_theme form 'OrangeMainBundle:Extra:no_form_theme.html.twig' %}#}


<div class="risque_cause_row" onload="customizeCause()"> 
	<span  for="{{ id }}_label">Danger n°<span id="{{ id }}_label"></span></span>
	<div style="display: none">
		{{ form_widget(form.carto)}}
	</div>
 	{{ form_row(form.cause, {'label':'Choisir un danger'})}}
 	{{ form_row(form.choice, {'label':'Saisir un danger'}) }}
 	{{ form_row(form.newCause.libelle, {id: id ~ '___name___libelle'}) }}
 	{{ form_row(form.modeFonctionnement) }}
 	
	<a id="{{ id }}_remove_current" title="Supprimer le danger">
		<img class="delete" src="{{ asset('bundles/orangemain/images/icon/icon_delete.png') }}" width="16" height="16" border="0">
	</a>
</div>
