{% extends '::base.html.twig' %}

{% block content %}
<div class="onecolumn" >
	<div class="header"><span ><span class="ico  gray spreadsheet">
		</span>Détails risques</span>
		<div id="buttom_top">
			<ul class="uibutton-group">
				<li><a class="uibutton icon confirm answer" href="{{ path('les_risques') }}" title="les risques">Retour à la liste</a></li>
				<li><a class="uibutton icon normal edit" href="{{ path('edition_risque', {id: entity.id}) }}" title="Edition du risque">Edition du risque</a></li>
            </ul>
        </div>
	</div>
	<div class="clear"></div>
	<table class="show_table">
		<tbody>
			<tr>
				<th style="width:140px;" >Code du risque:</th>
				<td style="padding-left: 70px;">{% if entity.code %}{{ entity.code }}{% else %}<span style="color: red;font-weight: bold;">Pas encore renseigné</span>{% endif %}</td>
			</tr>
			<tr>
				<th style="width:140px;" >Libellé:</th>
				<td style="padding-left: 70px;">{{ entity.menace ? entity.menace : (entity.identification.libelle? entity.identification.libelle :'Non renseigné') }}</td>
			</tr>
			{% if entity.cartographie.id == global_ids.carto.metier %}
				{% include 'OrangeMainBundle:Risque:show_metier.html.twig' with {entity: entity.risqueMetier} %}
			{% elseif entity.cartographie.id == global_ids.carto.projet %}
				{% include 'OrangeMainBundle:Risque:show_projet.html.twig' with {entity: entity.risqueProjet} %}
			{% elseif entity.cartographie.id == global_ids.carto.sst %}
				{% include 'OrangeMainBundle:Risque:show_sst.html.twig' with {entity: entity.risqueSST} %}
			{% elseif entity.cartographie.id == global_ids.carto.environnement %}
				{% include 'OrangeMainBundle:Risque:show_environnemental.html.twig' with {entity: entity.risqueEnvironnemental} %}
			{% endif %}
		</tbody>
		<table class="show_table" >
			<tbody>
			<tr>
				<th style="width:140px;" >Dernière évaluation</th>
			</tr>
			{% if entity.criticite is not empty %}
			<tr>
				<th style="width:140px;" >Probabilité</th>
				<td style="padding-left: 70px;">{{ entity.probabilite }}</td>
			</tr>
			<tr>
				<th style="width:140px;" >Gravité</th>
				<td style="padding-left: 70px;">{{ entity.gravite }}</td>
			</tr>
			<tr>
				<th style="width:140px;" >Criticité</th>
				<td style="padding-left: 70px;">
					{{ entity.probabilite }} * {{ entity.gravite }} = {{ entity.probabilite * entity.gravite }} ou {{ entity.criticite|show_status }}
				</td>
			</tr>
			<tr>
				<th style="width:140px;" >Maturité</th>
				<td style="padding-left: 70px;">
				{% if entity.maturiteTheorique is defined and  entity.maturiteTheorique is not empty %}
					{{ entity.maturiteTheorique.valeur }}  <=> {{ entity.maturiteTheorique|show_status }}  
				 {% endif %}
				</td>
			</tr>
			{% else %}
			<tr>
				<th style="width:140px;color: red;font-weight: bold;font-size: 16px;" colspan="2">Risque pas encore évalué</th>
			</tr>
			{% endif %}
			</tbody>
		</table>
	</table>
	{% include 'OrangeMainBundle:Risque:details_risque.html.twig' with { 'entity' :entity, 'preview' : 0} %}
</div>
<div class="clear"></div>
{% endblock %}