{% extends 'configuration/index.html.twig' %}

{% block menu_config %}
{% endblock %}

{% block header_config %}
<div class="header">
	<span>
		<span class="ico color checkmark2"></span>Validation de risque SST
	</span>
	<div id="buttom_top">
		<ul class="uibutton-group">
			<li><a class="uibutton icon answer" href="{{ path('les_risques') }}">Liste des risques</a></li>
        </ul>
    </div>
</div>
{% endblock %}


{% block content_config %}
	<div class="contentForm">
		
			<form novalidate="novalidate"  action="{{ path('validation_risque', {'id': id}) }}" method="post">
			{% set responsableCodeBefore %}
				Responsable du site choisi : {{ form_widget(form.proprietaire) }}
				<br><br>
			{% endset %}
			
				{% set causeDataForm, impactDataForm = '', '' %}
			{% for causeForm in form.risque.causeOfRisque %}
				{% set row %}
				{
				       {% if causeForm.vars.value.cause is empty %}
				       	{{ '"%s": ""'|format(causeForm.cause.vars.name )|raw}},
				       {% elseif causeForm.vars.value.cause.etat==true %}
							{{ '"%s": "%s"'|format(causeForm.cause.vars.name, causeForm.cause.vars.value)|raw }},
						{% else %}
							{{ '"%s": "%s"'|format(causeForm.newCause.libelle.vars.name, causeForm.newCause.libelle.vars.value)|raw }},
						{% endif %}
				},
				{% endset %}
				{% set causeDataForm = causeDataForm ~ row %}
			{% endfor %}
			
				{% set causeDataForm, impactDataForm = '[%s]'|format(causeDataForm|raw), '[%s]'|format(impactDataForm|raw) %}
				{# 			/Cause and Impact sheepit data               #}
				
				{% set errorSteps = "" %}
					{% set siteCodeBefore %}
						{% if form.vars.value.site is empty %}
						<p>Site saisie lors de l'identification du risque : 
							<span style="color: #222; font-weight: bold;">
								{{ form.site.vars.value == '' ? 'Aucune' : form.site.vars.value }}
							</span>
						</p>
						Veuillez choisir la bonne structure dans la liste ci-dessous : <br><br>
						{% endif %}
					{% endset %}
					
					{% set menaceCodeBefore %}
						{% if form.vars.value.risque.menace is empty %}
						<p>Nom saisi lors de l'identification du risque : 
							<span style="color: #222; font-weight: bold;">
								{{ form.risque.identification.libelle.vars.value == '' ? 'Aucun' : form.risque.identification.libelle.vars.value }}
							</span>
						</p>
						Veuillez choisir le nom du risque dans la liste ci-dessous : <br><br>
						{% endif %}
					{% endset %}
					
					
					
						{% set causeSheepItTemplate %}
						{% include 'extra/sheepIt_template.html.twig' with
							{
								'id': form.risque.causeOfRisque.vars.id,
								'prototype' : form.risque.causeOfRisque.vars.prototype, 
								'prototypeTemplate' : 'risque/risque_danger_prototype.html.twig',
								'addText': 'Ajouter une cause', 
								'removeAllText': 'Supprimer toutes les causes',
								'noFormText': 'Aucune cause n\'est encore identifiée !'
							}
						%}
					{% endset %}
					{{ form_row(form.site) }}
					{{ form_row(form.risque.identification.responsable, {'code_before' : responsableCodeBefore, 'show': false}) }}
					{{ form_row(form.domaineActivite) }}
					{{ form_row(form.equipement) }}
					{{ form_row(form.lieu) }}
					{{ form_row(form.manifestation) }}
					{{ form_row(form.risque.menace, {'code_before' : menaceCodeBefore}) }}
					{{ form_row(form.risque.causeOfRisque, {'sheeptIt_template' : causeSheepItTemplate }) }}
					{% if not form.risque.causeOfRisque.vars.valid %}
						{% set errorSteps = errorSteps ~ "2, " %}
					{% endif %}
					{% if not form.risque.menace.vars.valid %}
						{% set errorSteps = errorSteps ~ "5, " %}
					{% endif %}
			{{ form_row(form._token) }}
			<!-- End SmartWizard Content -->
			<div class="section last footer">
				<div>
					<button id="save" class="uibutton loading" >Enregistrer</button>
					<a class="uibutton special actionLink" href="#myModal" data-toggle="modal" data-target="#myModal" class="actionLink" modal-url="{{ path('rejet_risque', {'id': id}) }}">Rejeter</a>
				</div>
			</div>
			</form>
	
		</div>
	</div>
{% block add_script_js %}
	<script type="text/javascript">
$(function() {
			$nouvelle_cause=$( ".risque_cause_row .section:eq(2)" );
			console.log($('.risque_cause_row .section:eq(2) input[type=text]').val());
			if($('.risque_cause_row .section:eq(2) input[type=text]').val()!='')
				$nouvelle_cause.show();
			else
				$nouvelle_cause.hide();
				$('input[type="checkbox"].choix').live('change', function(e) {
					$nouvelle_cause=$(this).parent().parent().parent().children('.section:eq(2)');
					if($(this).prop("checked" )) {
						$nouvelle_cause.show( );
					}else{
						$nouvelle_cause.hide( );
					}
				});
			});

	</script>
	
{% endblock %}

{% set codeAfterResponsableUpdate %}
		var show = false;
		if(result == 'Aucun') {
			show = true;
		}
		var obj = $('#{{ form.risque.identification.responsable.vars.id }}').closest('div');
		toggle(obj, show);
{% endset %}
{% include 'extra/sheepit.html.twig' with {
				with_script: true,
				content: '#' ~ form.risque.causeOfRisque.vars.id, 
				options: '{' ~
					'iniFormsCount: 0, 
					minFormsCount: 0, 
					indexFormat: "__name__", 
					data: ' ~ causeDataForm ~ ', separator: "", allowRemoveAll: true, ' ~ 
					'afterAdd: function(source, addForm ,causeDataForm) { refreshChosen($(".cl_cause"),causeDataForm);  },' ~
					'removeAllConfirmationMsg: "Vous êtes sur le point de supprimer toutes les causes liées à ce risque. Voulez vous continuer ?", ' ~
					'}', 
				embeddedForm: form.risque.causeOfRisque,
				error_fields: {0 :'cause', 'newCause': { 0:'libelle' }} 
			}
 %}
{% include 'extra/updateField.html.twig' with 
	{parent: form.site, fieldId: 'responsable', url: path('get_responsable_by_site'), key: 'id', empty_child: 0, codeAfter: codeAfterResponsableUpdate} 
%}
{% endblock %}
