{% extends 'configuration/index.html.twig' %}
{% form_theme form 'extra/simple_form_theme.html.twig' %}

{% block menu_config %}{% include 'configuration/configuration.html.twig' %}{% endblock %}

{% block header_config %}
<div class="header">
	<span>
		<span class="ico color spreadsheet"></span>Ajout d'un projet
	</span>
	<div id="buttom_top">
		<ul class="uibutton-group">
			<li><a class="uibutton icon answer" href="{{ path('les_projets') }}">Liste des projets</a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block content_config %}
<div class="contentForm">
	<form  novalidate="novalidate"  action="{{ (processus_id is empty) ? path('creer_projet') : path('modifier_projet', {id: processus_id}) }}" method="POST">
		{{ form_row(form.libelle, {attr: {class: 'full'}}) }}
		{{ form_row(form.processus, {attr: (processus_id is empty) ? {class: 'full chzn-select'} : {disabled: 'true'}}) }}
		{{ form_row(form.dateDebut, {attr: {class: 'datepicker'}}) }}
		{{ form_row(form.dateFin, {attr: {class: 'datepicker'}}) }}
		{{ form_row(form.utilisateur, {attr: {class: 'medium chzn-select'}}) }}
		{{ form_row(form.description, {attr: {class: 'full'}}) }}
		{{ form_row(form._token) }}
		<div class="section last footer">
			<div>
				<button class="uibutton loading">Enregistrer</button>
				<input type="reset"  class="uibutton special" value="Effacer" >
			</div>
		</div>
	</form>
</div>
{% endblock %}
