{% extends 'configuration/index.html.twig' %}

{% block menu_config %}{% include 'configuration/configuration.html.twig' %}{% endblock %}

{% block header_config %}
<div class="header">
	<span>
		<span class="ico color info"></span>Détails du projet
	</span>
	<div id="buttom_top">
		<ul class="uibutton-group">
			<li><a class="uibutton icon confirm answer" href="{{ path('les_projets') }}" title="les projets">Retour à la liste</a></li>
			<li><a class="uibutton icon edit" href="{{ path('edition_projet', {'id': entity.id}) }}">Edition du projet</a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block content_config %}
	<div class="content" >
		<table class="show_table" >
			<tbody>
				<tr>
					<th style="width:115px;" >Libellé:</th>
					<td style="padding-left: 100px;">{{ entity.libelle }}</td>
				</tr>
				<tr>
					<th style="width:115px;" >Description:</th>
					<td style="padding-left: 100px;">{{ entity.description }}</td>
				</tr>
				<tr>
					<th style="width:200px;" >Porteur:</th>
					<td style="padding-left: 100px;">{{ entity.utilisateur }}</td>
				</tr>
				<tr>
					<th style="width:200px;" >Processus:</th>
					<td style="padding-left: 100px;">
						{% if entity.processus != null %}
							<a href="{{ path('details_processus', {id: entity.processus.id}) }}">{{ entity.processus }}</a>
						{% else %}
							NC
						{% endif %}
					</td>
				</tr>
				<tr>
					<th style="width:115px;" >Date début:</th>
					<td style="padding-left: 100px;">{{  entity.dateDebut | format_date(null, 'fr', 'Europe/London', constant('IntlDateFormatter::LONG')) }}</td>
				</tr>
				<tr>
					<th style="width:115px;" >Date Fin:</th>
					<td style="padding-left: 100px;">{{ entity.dateFin | format_date(null, 'fr', 'Europe/London', constant('IntlDateFormatter::LONG'))  }}</td>
				</tr>
				{% if entity.dateCloture is not empty %}
				<tr>
					<th style="width:200px;" >Date de clôture:</th>
					<td style="padding-left: 100px;">{{ entity.dateCloture | format_date(null, 'fr', 'Europe/London', constant('IntlDateFormatter::LONG'))  }}</td>
				</tr>
				{% endif %}
				<tr>
					<th style="width:115px;" >Statut:</th>
					<td style="padding-left: 100px;">{{ entity|show_status }}</td>
				</tr>
			</tbody>
			
		</table>
	</div><!--/END TAB/-->
{% endblock %}
