{% extends "::base.html.twig" %}
{% form_theme form 'OrangeMainBundle:Extra:simple_form_theme.html.twig' %}

{% block navigation %}
	{{ knp_menu_render('OrangeMainBundle:Builder:showMenu', {'template': 'OrangeMainBundle:Extra:knp_menu.html.twig', 'item': {1:'Configuration'} }) }}
{% endblock %}
{% block content %}
<div class="onecolumn">
	<div class="header">
		<span>
			<span class="ico gray add"></span>
			Ajout Consequence
		</span>
		<div id="buttom_top">
			<ul class="uibutton-group">
				<li><a class="uibutton icon answer" href="{{ path('les_consequences') }}">Liste des Consequences</a></li>
            </ul>
        </div>
	</div>
	<div class="clear"></div>
	<div class="contentForm">
	<form  novalidate="novalidate"  action="{{ path('creer_consequence') }}" method="POST">
	    {{ form_row(form._token) }}
		{{ form_row(form.domaine) }}
		<div align="left"><a class="uibutton icon add" href="{{ path('les_consequences') }}"></a> </div>
		{{ form_row(form.critere) }}
		<div class="section last">
			<div>
				<button class="uibutton loading">Enregistrer</button>
				<input type="reset"  class="uibutton special" value="Effacer" >
			</div>
		</div>
	</form>
	</div>
</div>
{% endblock %}
