{% extends 'configuration/index.html.twig' %}
{#% form_theme form 'OrangeMainBundle:Extra:simple_form_theme.html.twig' %#}

{% block menu_config %}
	{% include 'configuration/configuration.html.twig' with {position: 7} %}
{% endblock %}

{% block header_config %}
<div class="header">
	<span>
		<span class="ico color arrow_down2"></span>Informations présentes dans le reporting
	</span>
</div>
{% endblock %}

{% block content_config %}
<div class="one_column">
	<div class="contentForm live_edit_form">
		<form novalidate="novalidate" action="{{ path('changer_les_extractions') }}" method="POST">
			<div class="grid1">
				<ul>
				{% for extraction in extractions %}
					<li class="live_edit"><a href="#{{ extraction.code }}">{{ extraction }}</a></li>
				{% endfor %}
				</ul>
			</div>
			<div class="grid3">
			{% for extraction in extractions %}
				<div id="{{ extraction.code }}" class="live_edit_content">
					<table style="width: 80%; margin: 10px auto;">
						<tbody>
						{% for colonneForm in form.colonne if colonneForm.vars.value.extraction == extraction %}
							<tr>
								<td>{{ colonneForm.vars.value.typeColonne }}</td>
								<td width="100px">{{ form_widget(colonneForm.etat) }}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			{% endfor %}
			</div>
			<div hidden>{{ form_rest(form) }}</div>
			<br class="clear" />
			<div class="section last footer">
				<div>
					<button class="uibutton loading">Enregistrer</button>
					<input type="reset"  class="uibutton special" value="Effacer" >
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}
