{% extends 'base.html.twig' %}

{% block content %}
<div class="onecolumn" >
	<div class="header"><span ><span class="ico  gray spreadsheet">
		</span>Détails du risque</span>
		<div id="buttom_top">
			<ul class="uibutton-group">
				<li><a class="uibutton icon confirm answer" href="{{ path('details_risque', {id: entity.id}) }}" title="Détails du risque">Retour au risque</a></li>
            </ul>
        </div>
	</div>
	<div class="clear"></div>
	<table class="show_table">
		<tbody>
			<tr>
				<th style="width:115px;" >Code:</th>
				<td style="padding-left: 70px;">{{ entity.code }}</td>
			</tr>
			<tr>
				<th style="width:115px;" >Libellé:</th>
				<td style="padding-left: 70px;">{{ entity.menace ? entity.menace : entity.identification.libelle }}</td>
			</tr>
			<tr>
				<th style="width:115px;" >Utilisateur:</th>
				<td style="padding-left: 70px;">{{ entity.utilisateur }}</td>
			</tr>
			<tr>
				<th style="width:115px;" >Structure:</th>
				{% if entity.activite %}
					<td style="padding-left: 70px;">{{ entity.activite.processus.structure }} ({{ entity.activite.processus.structure.name }})</td>
				{% else %}
					<td style="padding-left: 70px;">{{ entity.identification.structure }}</td>
				{% endif %}
			</tr>
			{% if entity.activite %}
			{% set processus = entity.activite.processus %}
			<tr>
				<th style="width:140px;" >{{ processus.typeProcessus }}:</th>
				<td style="padding-left: 70px;"><a href="{{ path('details_processus', {id: processus.id}) }}">{{ processus }}</a></td>
			</tr>
			{% else %}
			<tr>
				<th style="width:140px;" >Processus:</th>
				<td style="padding-left: 70px;">{{ entity.identification.processus ? entity.identitfication.processus : 'Non renseigné' }}</td>
			</tr>
			{% endif %}
			<tr>
				<th style="width:115px;" >Activité:</th>
				{% if entity.activite %}
					<td style="padding-left: 70px;"><a href="{{ path('details_activite', {id: entity.activite.id}) }}">{{ entity.activite }}</a></td>
				{% else %}
					<td style="padding-left: 70px;">{{ entity.identification.activite }}</td>
				{% endif %}
			</tr>
			<tr>
				<th style="width:115px;" >Profil Risque:</th>
				<td style="padding-left: 70px;">{{ entity.profilRisque }}</td>
			</tr>
		</tbody>
		<table class="show_table" >
			<tbody>
			<tr>
				<th style="width:140px;" >Dernière évaluation</th>
			</tr>
			{% if entity.criticite is not empty %}
			<tr>
				<th style="width:140px;" >Probabilité</th>
				<td style="padding-left: 70px;">{{ entity.probabilite }}</td>
			</tr>
			<tr>
				<th style="width:140px;" >Gravité</th>
				<td style="padding-left: 70px;">{{ entity.gravite }}</td>
			</tr>
			<tr>
				<th style="width:140px;" >Criticité</th>
				<td style="padding-left: 70px;">{{ entity.criticite }}</td>
			</tr>
			{% else %}
			<tr>
				<th style="width:140px;color: red;font-weight: bold;font-size: 16px;white-space: nowrap;">Risque pas encore évalué</th>
			</tr>
			{% endif %}
			</tbody>
		</table>
	</table>
	<ul class="tabs header no-margin" style="text-align: center;padding-top: 10px;font-size: 20px;color: #f60;">
		Merci de choisir d'abord la grille d'évaluation des causes
	</ul>
	<div class="tab_content">
	{% for typeGrille in entity.typeGrilleBy(global_ids.type_evaluation.cause) %}
		<div style="display: inline-block;width: 49.8%">
			<table class="display no-margin">
				<thead>
					<tr style="font-size: 16px"><th colspan="3"><a href="{{ path('nouvelle_evaluation', {id: entity.id, grilleCauseId: typeGrille.id}) }}">{{ typeGrille }}</a></th></tr>
					<tr><th>Niveau</th><th>Libellé</th><th align="left">Description</th></tr>
				</thead>
				<tbody>
				{% for note in typeGrille.note %}
				<tr height="100px" style="font-size: 14px">
 						<td>{{ note.valeur }}</td><td>{{ note }}</td>
					<td align="left">
						{% set numberGrille = note.activeGrille|length %}
						{% if numberGrille > 1 %}<ul style="text-align: left;">{% endif %}
						{% for grille in note.activeGrille %}
							{% if numberGrille > 1 %}<li>{{ grille }}</li>{% else %}{{ grille }}{% endif %}
						{% endfor %}
						{% if numberGrille > 1 %}</ul>{% endif %}
					</td>
				</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	{% endfor %}
	</div>
	<div class="clear"></div>
</div>
<div class="clear"></div>
{% endblock %}
