{% extends 'base.html.twig' %}

{% block content %}
<div class="onecolumn" >
	<div class="header"><span ><span class="ico color spreadsheet">
		</span>Détails du risque</span>
		<div id="buttom_top">
			<ul class="uibutton-group">
				<li><a class="uibutton icon confirm answer" href="{{ path('details_risque', {id: entity.risque.id}) }}" title="Détails du risque">Retour au risque</a></li>
            </ul>
        </div>
	</div>
	<div class="clear"></div>
	<table class="show_table">
		<tbody>
			<tr>
				<th style="width:115px;" >Code:</th>
				<td style="padding-left: 100px;">{{ entity.risque.code }}</td>
			</tr>
			<tr>
				<th style="width:115px;" >Libellé:</th>
				<td style="padding-left: 100px;">{{ entity.risque.menace ? entity.risque.menace : entity.risque.identification.libelle }}</td>
			</tr>
			<tr>
				<th style="width:115px;" >Utilisateur:</th>
				<td style="padding-left: 100px;">{{ entity.risque.utilisateur }}</td>
			</tr>
		</tbody>
		<table class="show_table" ></table>
		<form action="{{ path('creer_evaluation', {id: entity.risque.id}) }}" method="post" novalidate="novalidate">
			{{ form_widget(form._token) }}
			{{ form_widget(form.risque) }}
			<ul class="header with_icon">
				<span class="ico color firewall"></span>
				<li>Evaluation de la probabilité des causess</li>
			</ul>
			<div id="tab1">
				<div id="cause_of_risque" class="contentForm">
				  	<div style="color: #f60;font-size: 20px">
				  		<div style="width: 40%;display: inline-block;margin-left: 20px;">
					    	<label>Nom de la cause </label>
				    	</div>
				  		<div style="width: 10%;display: inline-block;vertical-align: bottom;">
				    	</div>
				  		<div style="width: 45%;display: inline-block;vertical-align: bottom;">
					    	<label>Niveau </label>
				    	</div>
				  	</div>
					<!-- Form template-->
					{% for causeOfEvaluationForm in form.causeOfEvaluation %}
					{% if causeOfEvaluationForm.vars.value.cause  is not empty %}
				  	<div type="cause">
				  		<div style="width: 40%;display: inline-block;">
					    	<label>{{ causeOfEvaluationForm.vars.value.cause }}</label>
					    	<div hidden>{{ form_widget(causeOfEvaluationForm.cause) }}</div>
				    	</div>
				  		<div style="width: 10%;display: inline-block;vertical-align: bottom;">
				    	</div>
				  		<div class="" style="width: 45%;display: inline-block;vertical-align: bottom;margin-top: 10px;margin-left: 20px;">
				  		{% if entity.risque.isPhysical %}
							fffff
							{% if causeOfEvaluationForm.vars.value.modeFonctionnement.id==1 %}
								<div class="section-form-perso" style="display: inline-block;width: 45%">
									{{ form_errors(causeOfEvaluationForm.normalGrille) }}
									{{ form_row(causeOfEvaluationForm.normalGrille, {attr: {class: 'chzn-select'}}) }}
								</div>
							{% else %}
								<div class="section-form-perso" style="display: inline-block;width: 45%">
									{{ form_errors(causeOfEvaluationForm.anormalGrille) }}
									{{ form_row(causeOfEvaluationForm.anormalGrille, {attr: {class: 'chzn-select'}}) }}
								</div>
							{% endif%}
					    {% else %}
					    	{{ form_errors(causeOfEvaluationForm.grille) }}
					    	{{ form_widget(causeOfEvaluationForm.grille, {attr: {class: 'chzn-select fullL'}}) }}
					    {% endif %}
				    	</div>
				  	</div>
				  	{% endif %}
				  	{% endfor %}
				  	<!-- /Form template-->
				</div>
			</div><!--tab1-->
			<ul class="header with_icon">
				<span class="ico color access_point"></span>
				<li>Evaluation des impacts :: Merci de ne noter que les domaines impactés au risque</li>
			</ul>
			<div id="tab2">
				<div id="impact_of_risque" class="contentForm">
				  	<div style="color: #f60;font-size: 20px">
				  		<div style="width: 20%;display: inline-block;margin-left: 20px;">
					    	<label>Domaine</label>
				    	</div>
				  		<div style="width: 30%;display: inline-block;vertical-align: bottom;">
					    	<label>Critère</label>
				    	</div>
				  		<div style="width: 45%;display: inline-block;vertical-align: bottom;">
					    	<label>Niveau </label>
				    	</div>
				  	</div>
					<!-- Form template-->
					{% for impactOfEvaluationForm in form.impactOfEvaluation %}
				  	<div type="impact {{ impactOfEvaluationForm.vars.value.domaine.labelClass }}">
				  		<div style="width: 20%;display: inline-block;">
					    	<label>{{ impactOfEvaluationForm.vars.value.domaine }}</label>
					    	{{ form_widget(impactOfEvaluationForm.domaine) }}
					    	{{ form_widget(impactOfEvaluationForm.impact.domaine) }}
				    	</div>
				  		<div style="width: 30%;display: inline-block;vertical-align: bottom;margin-top: 10px;">
				  			{{ form_errors(impactOfEvaluationForm.impact.critere) }}
					    	{{ form_widget(impactOfEvaluationForm.impact.critere, {attr: {class: 'chzn-select full parent_select'}}) }}
				    	</div>
				  		<div style="width: 45%;display: inline-block;vertical-align: bottom;margin-top: 10px;margin-left: 20px;">
				  			{{ form_errors(impactOfEvaluationForm.grille) }}
					    	{{ form_widget(impactOfEvaluationForm.grille, {attr: {class: 'chzn-select full child_select'}}) }}
				    	</div>
				  	</div>
				  	{% endfor %}
				  	<!-- /Form template-->
				</div>
				<div class="clear"></div>
			</div><!--tab2-->
			<div class="section footer last">
				<div>
					<button class="uibutton loading">Enregistrer</button>
					<a class="uibutton special" onClick="ResetForm()" title="Effacer">Effacer</a>
				</div>
			</div>
		</form>
		<div class="clear"></div>
	</table>
</div>
<div class="clear"></div>
{% endblock %}

{% block add_script_js %}
	{% for impactOfEvaluationForm in form.impactOfEvaluation %}
		{% include 'extra/reloadSelect.html.twig' with {parent: impactOfEvaluationForm.impact.critere, 
				child: impactOfEvaluationForm.grille, url: path('grille_by_critere'), key: 'id', only_script: 1, functionAfter: 'refreshChosen' } %}
	{% endfor %}
{% endblock %}
