{% extends "base.html.twig" %}

{% block navigation %}
	{{ knp_menu_render('OrangeMainBundle:Builder:showMenu', {'template': 'extra/knp_menu.html.twig', 'item': {1:'Plan'} }) }}
{% endblock %}
{% block content %}
<div class="onecolumn" >
	<div class="header"><span ><span class="ico color info">
		</span>Détails Plan d'action</span> 
		<div id="buttom_top">
			<ul class="uibutton-group">
				{% if entity.risque is not empty %}
					<li><a class="uibutton icon confirm answer" href="{{ path('details_risque', {'id': entity.risque.id}) }}" title="Détails du risque">Retour à la liste</a></li>
				{% else %}
					<li><a class="uibutton icon confirm answer" href="{{ path('details_controle', {'id': entity.controle.id}) }}" title="Détails du contrôle">Retour à la liste</a></li>
				{% endif %}
				{% if entity.statut.id != global_ids.statut.plan_action.solde %}
					<li><a class="uibutton icon edit" href="{{ path('edition_planaction', {'id': entity.id}) }}">Modifier Plan d'action</a></li>
				{% elseif entity.toControle is empty %}
					<li><a title="Passer en dispositif" class="uibutton icon add" href="{{ path('a_mettre_en_dispositif', {'pa_id': entity.id}) }}">Passer en dispositif</a></li>
				{% else %}
					<li><a title="Voir le contrôle" class="uibutton icon answer" href="{{ path('details_controle', {'id': entity.toControle.id}) }}">Voir le contrôle</a></li>
				{% endif %}
            </ul>
        </div>
	</div>
	<div class="clear"></div>
	<div class="content" >
		<table class="show_table" >
			<tbody>
				<tr>
					<th style="width:115px;" >Code:</th>
					<td style="padding-left: 100px;">{{ entity.code }}</td>
				</tr>
				<tr>
					<th style="width:115px;" >Libellé:</th>
					<td style="padding-left: 100px;">{{ entity.libelle }}</td>
				</tr>
				<tr>
					<th style="width:200px;" >Risque:</th>
					<td style="padding-left: 100px;">
						<a href="{{ path('details_risque', {'id': entity.risque.id}) }}">{{ entity.risque }}</a>
					</td>
				</tr>
				<tr>
					<th style="width:200px;" >Cause:</th>
					<td style="padding-left: 100px;">
						<a href="{{ path('details_cause', {'id': entity.causeOfRisque.id}) }}">{{ entity.cause }}</a>
					</td>
				</tr>
				<tr>
					<th style="width:200px;" >Porteur:</th>
					<td style="padding-left: 100px;">
					{% if entity.porteur is not empty%}
						{{ entity.porteur }} [{{ entity.porteur.structure.name }}]
					{% else %}
						<span style="color: red;">Non renseigné</span>
					{% endif %}
					</td>
				</tr>
				<tr>
					<th style="width:200px;" >Superviseur:</th>
					<td style="padding-left: 100px;">
					{% if entity.superviseur is not empty%}
						{{ entity.superviseur }} [{{ entity.superviseur.structure.name }}]
					{% else %}
						<span style="color: red;">Non renseigné</span>
					{% endif %}
					</td>
				</tr>
				<tr>
					<th style="width:115px;" >Date début:</th>
					<td style="padding-left: 100px;">
					{% if entity.dateDebut is not empty%}
						{{  entity.dateDebut | localizeddate('medium', 'none', 'fr') }}
					{% else %}
						<span style="color: red;">Non renseigné</span>
					{% endif %}
					</td>
				</tr>
				<tr>
					<th style="width:115px;" >Date Fin:</th>
					<td style="padding-left: 100px;">
					{% if entity.dateFin is not empty%}
						{{ entity.dateFin | localizeddate('medium', 'none', 'fr')  }}
					{% else %}
						<span style="color: red;">Non renseigné</span>
					{% endif %}
					</td>
				</tr>
				{% if entity.controle is not empty %}
				<tr>
					<th style="width:200px;" >Contrôle:</th>
					<td style="padding-left: 100px;"><a href="{{ path('details_controle', {'id': entity.controle.id}) }}">{{ entity.controle }}</a></td>
				</tr>
				{% endif %}
				<tr>
					<th style="width:115px;" >Statut:</th>
					<td style="padding-left: 100px;">{{ entity|show_status }}</td>
				</tr>
				<tr>
					<th style="width:115px;" >Description:</th>
					<td style="padding-left: 100px;">{{ entity.description|nl2br  }}</td>
				</tr>
			</tbody>
			
		</table>
		<ul class="header no-margin">
			<li >Avancements</li>
		</ul>
		<div id="tab1" class="tab_content">
			<ul class="uibutton-group">
				<li><a class="uibutton icon add" href="{{ path('nouveau_avancement', {'id': entity.id}) }}">Nouvel avancement</a></li>
			</ul>
	        <div class="content_table">
				<div class="tableName">
					<table class="display no-margin">
						<thead>
							<tr>
								<th >Acteur</th>
								<th >Date d'avancement</th>
								<th>Etat</th>
								<th width="100px" >Actions</th>
							</tr>
						</thead>
						<tbody>
						{% if entity.avancement|length > 0 %}
		 					{% for avancement in entity.avancement %}
		 					 <tr>
		 						<td >{{ avancement.acteur }}</td>
		 						<td >{{ avancement.dateAction | localizeddate('medium', 'none', 'fr') }}</td>
		 						<td >{{ avancement.etatAvancement.libelle }} </td>
		 						<td >
		 							<span class="tip" >
		                 			<a  title="Afficher" href="#">
		 	                			<img src="{{ asset('assets/bundles/orangemain/images/icon/color_18/info.png') }}" >
		 	                		</a>
		                 			</span> 
		 						</td>
		 					</tr>
		 					{% endfor %}
		 				{% else %}
		 					<tr>
		 						<td colspan="4" align="center">Aucun avancement enregistré</td>
		 					</tr>
		 				{% endif %}
						</tbody>
					</table>
				</div>
			</div><!--tab1-->
		</div>
	</div><!--/END TAB/-->
	<div class="clear"/></div>
	</div>
</div>
{% endblock %}
