{% extends 'configuration/index.html.twig' %}

{% block menu_config %}{% include 'configuration/configuration.html.twig' %}
        <link href="{{asset('assets/plugins/nestable/jquery.nestable.css')}}" rel="stylesheet">
        <link href="{{asset('assets/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css">
		<link href="{{asset('assets/css/bootstrap.css')}}" rel="stylesheet" type="text/css">
        <link href="{{asset('assets/css/core.css" rel="stylesheet')}}" type="text/css">
        <link href="{{asset('assets/css/icons.css" rel="stylesheet')}}" type="text/css">
        <link href="{{asset('assets/css/components.css" rel="stylesheet')}}" type="text/css">
        <link href="{{asset('assets/css/pages.css" rel="stylesheet')}}" type="text/css">
        <link href="{{asset('assets/css/menu.css" rel="stylesheet')}}"type="text/css">
        <link href="{{asset('assets/css/responsive.css')}}" rel="stylesheet" type="text/css">
        <link href="{{asset('assets/plugins/sweetalert/dist/sweetalert.css')}}" rel="stylesheet" type="text/css">

{% endblock %}

{% block header_config %}
<div class="header">
	<span>
		<span class="ico color gear"></span>Comparaison des Risques
	</span>	
</div>


                        <!-- Page-Title -->
                       
                        <div class="row">
                            <div class="col-sm-12">
                                <ol class="breadcrumb pull-right">
                                    <li><a href="{{path('les_menaces')}}">Base des risques</a></li>
                                    <li class="active">Comparaison Risques</li>
                                </ol>
						         <h4 class="text-center page-title "> {% if menaces|length >=2 %}  Menaces Semblables {% else %} Cette menace est unique {% endif %} </h4>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                        	{# {% if menaces|length >=2    %}	<center>  <button class="dellall"    class="btn btn-sonatel waves-effect waves-light btn-sm">Supprimer Tout</button></center>	
                                         
                        {% endif %}	 #}
						{% for menace in menaces  %} 

						<form  method="post"  >
					    
                            <div class="col-sm-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">{{menace.libelle }}</h3> 
                                    </div> 
                                    <div class="panel-body"> 
                                        <div class="dd" id="nestable_list_1">
                                              <ol class="dd-list">
                                                  <li class="dd-item" data-id="1">
                                                      <div  class=""><b>CARTOGRAPHIE(S)</b></div>
													  <ol>
													    <li class="dd-item" data-id="2">
												  {% for c in menace.cartographie[0] %}
                                                      <div class="dd-handle">{{c.libelle }}</div>
                                                 {% endfor %}
                                                  </li>
													  </ol>
                                                  </li>
                                                  <li class="dd-item" data-id="11">
                                                       <div class=""><b>DESCRIPTION</b></div> 
													   <ol>
													      <li class="dd-item" data-id="2">
                                                            <div class=" dd-handle panel-heading">{{menace.description }}</div>
                                                          </li>
													  </ol>   
                                                  </li>	    
                                              </ol>
										{% if menaces|length >=2    %}	<center>  <a  href="{{ path('delete_menace', {'id':menace.id }) }}" data-id="{{ menace.id }}" class="btn btn-sonatel waves-effect waves-light btn-sm dellall ">Supprimer</a></center>	
                                        <a style="color:white"  href="{{ path('delete_menace', {'id':menace.id }) }}"  id="menaces{{ menace.id }}" >-</a>    
                                        {% endif %}	                             
                                          </div>
                                    </div>
                                </div>
                            </div>
                         {% endfor %} 
						 </form> 
                        </div> 
						
                        <!-- End of row -->
                        

                       
       <!-- Sweet-Alert  -->

        <script src="{{asset('assets/plugins/sweetalert/dist/sweetalert.min.js')}}"></script>
        <script src="{{asset('assets/pages/jquery.sweet-alert.init.js')}}"></script>
         <script src="{{asset('assets/js/bootstrap.min.js')}}"></script>
        <script src="{{asset('assets/js/detect.js')}}"></script>
{% endblock %}

	{% block javascripts %}
	{{ parent() }}
	
        <script src="{{asset('assets/js/modernizr.min.js')}}"></script>
		 <script src="{{asset('assets/plugins/nestable/jquery.nestable.js')}}"></script>
        <script src="{{asset('assets/pages/nestable.js')}}"></script>
{% endblock %}