{% form_theme form 'OrangeMainBundle:Extra:simple_form_theme.html.twig' %}

<div class="contentForm">
	<form  novalidate="novalidate"  action="{{ path('filtrer_la_restitution') }}" method="POST">
	<div style="display:none;">
		{{ form_row(form.cartographie) }}
    </div>
		{{ form_row(form.menace) }}
		<div risque="{{ global_ids.carto.metier }}">
		<div class="section">
			<label>Direction & Structure</label>
			<div style="width: 30%;display: inline-block;margin-left: 0">
				{{ form_widget(form.risqueMetier.direction) }}
			</div>
			<div style="width: 30%;display: inline-block;margin-left: 0">
				{{ form_widget(form.risqueMetier.structure) }}
			</div>
		</div>
		<div class="section">
			<label>Processus & Activité</label>
			<div style="width: 30%;display: inline-block;margin-left: 0">
				{{ form_widget(form.risqueMetier.processus) }}
			</div>
			<div style="width: 30%;display: inline-block;margin-left: 0">
				{{ form_widget(form.risqueMetier.activite) }}
			</div>
		</div>
		</div>
		<div risque="{{ global_ids.carto.projet }}">
		<div class="section">
			<label>Direction & Structure</label>
			<div style="width: 30%;display: inline-block;margin-left: 0">
				{{ form_widget(form.risqueProjet.direction) }}
			</div>
			<div style="width: 30%;display: inline-block;margin-left: 0">
				{{ form_widget(form.risqueProjet.structure) }}
			</div>
		</div>
		<div class="section">
			<label>Processus & Projet</label>
			<div style="width: 30%;display: inline-block;margin-left: 0">
				{{ form_widget(form.risqueProjet.processus) }}
			</div>
			<div style="width: 30%;display: inline-block;margin-left: 0">
				{{ form_widget(form.risqueProjet.projet) }}
			</div>
		</div>
		</div>
		<div risque="{{ global_ids.carto.sst }}">
			{{ form_row(form.risqueSST.site) }}
			{{ form_row(form.risqueSST.equipement) }}
			{{ form_row(form.risqueSST.domaineActivite) }}
		</div>
		<div risque="{{ global_ids.carto.environnement }}">
			{{ form_row(form.risqueEnvironnemental.site) }}
			{{ form_row(form.risqueEnvironnemental.equipement) }}
			{{ form_row(form.risqueEnvironnemental.domaineActivite) }}
		</div>
		{{ form_row(form.cause) }}
		{% if evaluated==1 %}
			<div class="section">
				<label>Date d'évaluation</label>
				<div style="width: 30%;display: inline-block;margin-left: 0">
					{{ form_widget(form.dateEvaluation.dateDebut, {attr: {'class': 'datepicker '}}) }}
				</div>
				<div style="width: 30%;display: inline-block;margin-left: 0">
					{{ form_widget(form.dateEvaluation.dateFin, {attr: {'class': 'datepicker '}}) }}
				</div>
			</div>
			{{ form_row(form.probabilite) }}
			{{ form_row(form.gravite) }}
			{{ form_row(form.criticite) }}
		{% endif %}
		<div class="section last footer">
			<div>
				<button class="uibutton loading">Filtrer</button>
				<input type="reset" name="#main_content" class="uibutton special on_load_page" value="Effacer" >
			</div>
		</div>
	</form>
</div>

{% if form.vars.value.cartographie.id==global_ids.carto.metier or form.vars.value.cartographie.id==global_ids.carto.projet %}
	{% set formRisque = form.vars.value.cartographie.id==global_ids.carto.metier ? form.risqueMetier : form.risqueProjet %}
	{% include 'extra/reloadSelect.html.twig' with 
		{parent: formRisque.direction, child: formRisque.structure, url: path('structure_by_parent'), key: 'id', empty_child: 1, functionAfter: 'afterDirectionReload'} 
	%}
	{% include 'extra/reloadSelect.html.twig' with 
		{parent: formRisque.structure, child: formRisque.processus, url: path('get_processus_by_structure'), key: 'id', empty_child: 1, functionAfter: 'afterStructureReload'} 
	%}
	{% if form.vars.value.cartographie.id==global_ids.carto.metier %}
		{% include 'extra/reloadSelect.html.twig' with 
			{parent: formRisque.structure, child: formRisque.activite, url: path('get_activities_by_structure'), key: 'id', empty_child: 1	, functionAfter: 'afterStructureReload'} 
		%}
		{% include 'extra/reloadSelect.html.twig' with 
			{parent: formRisque.processus, child: formRisque.activite, url: path('get_activities_by_processus'), key: 'id', empty_child: 1, functionAfter: 'afterProcessusReload'} 
		%}
	{% else %}
		{% include 'extra/reloadSelect.html.twig' with 
			{parent: formRisque.structure, child: formRisque.projet, url: path('projet_by_structure'), key: 'id', empty_child: 1	, functionAfter: 'afterStructureReload'} 
		%}
		{% include 'extra/reloadSelect.html.twig' with 
			{parent: formRisque.processus, child: formRisque.projet, url: path('projet_by_processus'), key: 'id', empty_child: 1, functionAfter: 'afterProcessusReload'} 
		%}
	{% endif %}
{% endif %}

{% block add_script_js %}
	<script type="text/javascript">
	{% if form.vars.value.cartographie.id==global_ids.carto.metier or form.vars.value.cartographie.id==global_ids.carto.projet %}
		function afterDirectionReload() {
			$("#{{ formRisque.structure.vars.id }} option[value='{{ formRisque.structure.vars.value }}']").attr('selected', 'selected');
			$("#{{ formRisque.structure.vars.id }}").trigger('liszt:updated');
		}
		function afterStructureReload() {
			$("#{{ formRisque.processus.vars.id }} option[value='{{ formRisque.processus.vars.value }}']").attr('selected', 'selected');
			$("#{{ formRisque.processus.vars.id }}").trigger('liszt:updated');
			{% if form.vars.value.cartographie.id==global_ids.carto.metier %}
				$("#{{ formRisque.activite.vars.id }} option[value='{{ formRisque.activite.vars.value }}']").attr('selected', 'selected');
				$("#{{ formRisque.activite.vars.id }}").trigger('liszt:updated');
			{% endif %}
			{% if form.vars.value.cartographie.id==global_ids.carto.projet %}
				$("#{{ formRisque.projet.vars.id }} option[value='{{ formRisque.projet.vars.value }}']").attr('selected', 'selected');
				$("#{{ formRisque.projet.vars.id }}").trigger('liszt:updated');
			{% endif %}
		}
		function afterProcessusReload() {
			{% if form.vars.value.cartographie.id==global_ids.carto.metier %}
				$("#{{ formRisque.activite.vars.id }} option[value='{{ formRisque.activite.vars.value }}']").attr('selected', 'selected');
				$("#{{ formRisque.activite.vars.id }}").trigger('liszt:updated');
			{% endif %}
			{% if form.vars.value.cartographie.id==global_ids.carto.projet %}
				$("#{{ formRisque.projet.vars.id }} option[value='{{ formRisque.projet.vars.value }}']").attr('selected', 'selected');
				$("#{{ formRisque.projet.vars.id }}").trigger('liszt:updated');
			{% endif %}
		}
	{% endif %}
		$(function() {
			$('div[risque="1"], div[risque="2"], div[risque="3"], div[risque="4"]').hide();
			$('div[risque="{{ form.vars.value.cartographie.id }}"]').show();
			$('[name="{{ form.cartographie.vars.full_name }}"]').live('change', function() {
				$('div[risque="1"], div[risque="2"], div[risque="3"], div[risque="4"]').hide();
				$('div[risque="' + $(this).val() + '"]').show();
			});
		{% set functionOnComplete %}
			todoOnCompleteWithError();
		{% endset %}
		{{ formTargetSubmit('#filter_content', '', functionOnComplete) }}
		formTargetSubmit();	
		});
	</script>
{% endblock %}