{% extends 'configuration/index.html.twig' %}
{% set echelle = 1 %}
{% for entity in entities %}
	{% set echelle = entity['nbRisk'] is defined ?  entity['nbRisk']> echelle ? entity['nbRisk'] : echelle : echelle %}
{% endfor %}

{% block menu_config %}
	{% include 'configuration/identificationMatrice.html.twig' with {position: carto} %}
{% endblock %}
{% set colors = {1:'#27AE0F', 2:'#27AE0F', 3:'#27AE0F', 4:'#FFFF5D', 6:'#FFFF5D', 8:'orange', 9:'orange', 12:'red', 16:'red'} %}

{% block header_config %}
<div class="header">
	<span>
		<span class="ico color spreadsheet"></span>Restitution des risques
	</span>
	<div id="buttom_top" style="width: 75%">
		<ul class="uibutton-group aggregat">
			{% include 'configuration/buttonAggregation.html.twig' with {carto: carto, type: type} %}
			<li><a class="uibutton type_aggreg {{ type==4 ? 'active'  : null}}" href="{{ path(app.request.attributes.get('_route'),{carto:carto, type:4}) }}">Risque</a></li>
        </ul>
		<ul class="uibutton-group">
			<li><a class="uibutton icon filter on_load_filter" name="#filter_content" href="#">Filtrer</a></li>
 			<li><a id="download_restitution" class="uibutton icon download" href="#matriceTable">Extraire</a></li>
			<a id="download_png_restitution" download></a>
        </ul>
    </div>
</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('bundles/orangemain/js/html2canvas.js') }}"></script>
{% endblock %}

{% block content_config %}
	<div id="filter_content" hidden>
		{% include 'OrangeMainBundle:KPI:filter.html.twig' with {form: form, link : app.request.attributes.get('_route')} %}
	</div>
	<div id="main_content" class="content" style="background-color: #fff;">
		<div class="tableName" style="width: 60%;display: inline-block;vertical-align: top;">
			<table id="matriceTable" class="display no-margin" style="display: inline-table;">
			{% for row in 4..1 %}
				<tr>
					<td width="4%" style="font-size: 16px;font-weight: bold;">{{ 5 - loop.index }}</td>
					{% for col in 1..4 %}
						<td width="24%" style="background-color: {{ colors[col*row] }};">
							<canvas id="matrice_{{ row }}_{{ col }}" style="width: 100%">&nbsp;</canvas>
						</td>
					{% endfor %}
				</tr>
			{% endfor %}
				<tr height="40px" style="font-size: 16px;font-weight: bold;">
					<td width="4%"></td>
					<td width="24%">1</td>
					<td width="24%">2</td>
					<td width="24%">3</td>
					<td width="24%">4</td>
				</tr>
			</table>
			<div style="margin: 10px 10px;font-size: 16px;font-weight: bold;">
				Lecture des zones d'appétence: 
				<span style="padding-right: 20px;color: #27AE0F;">Faible</span>
				<span style="padding-right: 20px;color: #FFFF5D;">Modéré</span>
				<span style="padding-right: 20px;color: orange;">Elevé</span>
				<span style="color: red;">Critique</span>
			</div>
		</div>
		<div style="width: 39%;display: inline-block;">
			<div style="padding: 10px 5px;color: #f60;font-size: 16px;font-weight: bold;">
				Matrice CI
			</div>
			<ul style="font-weight: bold;margin-left: 20px;">
			{% for entity in entities %}
				<li>
					<span style="width: 90%;display: inline-block;">{{ loop.index }} - {{ entity['libelle'] is defined ? entity['libelle'] : '' }}</span>
					<span style="width: 9%;display: inline-block;text-align: center;font-size: 16px;background-color: {{ colors[entity['criticite']] is defined ? colors[entity['criticite']] : 'white' }};">{{ entity['criticite'] is defined ? entity['criticite']|round :''}}</span>
				</li>
			{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}

{% block add_script_js %}
<script type="text/javascript">
$(document).ready(function() {
	$("#matriceTable").find('td > canvas').each(function() {
			//this.style.width = '100%';
			this.style.height = '100%';
			this.width = this.offsetWidth;
			this.height = this.offsetHeight;
		});
	var randomVal = Math.floor($(this).find('td:first').width() * 3 / 5);
	$("#matriceTable").resize(function() {
		$(this).find('td').height($(this).find('td:first').width());
	});
	{% for row in 4..1 %}
		{% for col in 1..4 %}
			var matrice{{ row }}{{ col }} = $("#matrice_{{ row }}_{{ col }}").myCanvas();
		{% endfor %}
	{% endfor %}
	{% for entity in entities %}
		{% if ((entity['probabilite'] is not empty) and (entity['gravite'] is defined and entity['gravite'] is not empty) and (entity['probabilite']!=0) and (entity['gravite']!=0)) %}
			{% set cote = (echelle==1) ? 40 : (80*entity['nbRisk']/echelle) %}
			matrice{{ entity['probabilite'] }}{{ entity['gravite'] }}.addRect({{ ("'" ~ loop.index ~ "'")|raw }}, Math.floor(randomVal * Math.random()), Math.floor(randomVal * Math.random()), {{ cote }}, {{ cote }}, 'rgba(100,100,100,0.7)');
		{% endif %}
	{% endfor %}
	matrice41.addText('Probabilité', -100, 20, {rotate: -0.5*Math.PI, font: '16px Arial'});
	matrice14.addText('Gravité', 100, 140, {font: '16px Arial'});

	$('#download_restitution').click(function() {
		$("div.onecolumn > div.content").css('height', '1000px');
		html2canvas($("div.onecolumn > div.content"), {
            onrendered: function(canvas) {
                $.ajax({
                    type: "POST",
                    url: '{{ path('save_canvas') }}',
                    data: "image=" + encodeURIComponent(canvas.toDataURL("image/png")),
                    success : function(data) {
                        $('#download_png_restitution').attr('href', data.url);
                        $('#download_png_restitution')[0].click();
                    }
                }).done(function() {
            		$("div.onecolumn > div.content").css('height', '100%');
                });
            }
        });
	});
});
</script>
{% endblock %}