{% extends 'configuration/index.html.twig' %}

{% block menu_config %}{% include 'configuration/configuration.html.twig' %}{% endblock %}

{% block header_config %}
<div class="header">
	<span>
		<span class="ico color spreadsheet"></span>Détails du {{ entitie.typeProcessus }}
	</span>
	<div id="buttom_top">
		<ul class="uibutton-group">
			<li><a class="uibutton icon confirm answer" href="{{ path('les_documents') }}" title="les documents">Retour à la liste</a></li>
			<li><a class="uibutton icon edit" href="{{ path('edition_document', {'id': entitie.id}) }}">Edition un document</a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block content_config %}
	<div class="content">
		<div id="uploadTab">
			<table class="show_table">
				<tbody>
					{% if entitie.parent is not empty  %}
						<tr>
							<th style="width:300px;" >Processus parent:</th>
							<td style="padding-left: 100px;"><a href="{{ path('details_document', {'id': entitie.parent.id}) }}">{{ entitie.parent }}</a></td>
						</tr>
					{% endif %}
					<tr>
						<th style="width:115px;" >Libellé:</th>
						<td style="padding-left: 100px;">{{ entitie.libelle }}</td>
					</tr>
					<tr>
						<th style="width:115px;" >Description:</th>
						<td style="padding-left: 100px;">{{ entitie.description }}</td>
					</tr>
					<tr>
						<th style="width:115px;" >Date Création:</th>
						<td style="padding-left: 100px;">{{ entitie.dateCreation }}</td>
					</tr>
					<tr>
						<th style="width:115px;" >Utilisateur:</th>
						<td style="padding-left: 100px;">{{ entitie.utilisateur.name }}</td>
					</tr>
				</tbody>	
			</table>
		</div><!--/END TAB/-->
		<div class="clear"/></div>
	</div>
</div>
{% endblock %}
