			<tr>
				<th style="width:140px;" >Site:</th>
				<td style="padding-left: 70px;">{{ entity.site? entity.site:'aucune' }}</td>
			</tr>
			<tr>
				<th style="width:140px;" >Responsable:</th>
				<td style="padding-left: 70px;">{{ entity.proprietaire ? entity.proprietaire : 'Non renseigné' }}</td>
			</tr>
			<tr>
				<th style="width:140px;" >Lieu:</th>
				<td style="padding-left: 70px;">{{ entity.lieu ? entity.lieu : 'Non renseigné' }}</td>
			</tr>
			<tr>
				<th style="width:140px;" >Manifestation:</th>
				<td style="padding-left: 70px;">{{ entity.manifestation ? entity.manifestation : 'Non renseigné' }}</td>
			</tr>
			<tr>
				<th style="width:140px;" >Activité:</th>
				{% if entity.activite is defined and entity.activite is not empty%}
					<td style="padding-left: 70px;"><a href="{{ path('details_activite', {id: entity.activite.id}) }}">{{ entity.activite }}</a></td>
				{% endif %}
			</tr>
