 {% form_theme form 'extra/simple_form_theme.html.twig' %}

<div class="header">
	<img src="{{ asset('assets/bundles/orangemain/images/icon/color_18/add.png') }}" alt="add">
	<span>Transfert risque projet</span>
	<div class="close_me"><a data-dismiss="modal"><img src="{{ asset('assets/bundles/orangemain/images/icon/closeme.png') }}"> </a></div>
</div>
<div class="contentForm">
	<form  novalidate="novalidate"  action="{{ path('effectuer_transferer_risque') }}" method="POST">
			
			{% set processusCodeAfter %}
				{{ form_widget(form.risque.identification.processus, {'show': false}) }}
			{% endset %}
			
			{% set activiteCodeAfter %}
				<label class="other_label"><input class="other" target-id="{{ form.risque.identification.activite.vars.id }}" type="checkbox" />Saisir le nom de l'activité</label>
				{{ form_widget(form.risque.identification.activite, {'show': false}) }}
			{% endset %}
			
		{{ form_row(form.direction) }}	
		{{ form_row(form.structure) }}
		{{ form_row(form.processus, {'code_after' : processusCodeAfter}) }}
		{{ form_row(form.activite) }}
		<div style="display:none;"> 
	    	{{ form_row(form.risque.toTransferts, { 'attr': {'value': entity.risque.toTransferts} }) }} 
	   </div>
		{{ form_row(form._token) }}
		<div class="section last">
			<div>
				<button  data-target="#myModal" class="uibutton loading submitLink" call="closeAndNotifyAfterSuccess" argument-call="#risqueTable">Enregistrer</button>
				<input type="reset" data-dismiss="modal" class="uibutton special" value="Effacer" >
			</div>
		</div>
	</form>
</div>
<script type="text/javascript">
			var arrRisques=[];
 			arrRisques = [];
 			 $('#risqueTable input[type=checkbox].chkbox:checked').each(function(){
 			       arrRisques.push($(this).val());
   			  }); 
   			     $('#myModal input#risque_metier_risque_toTransferts').attr('value', arrRisques.toString());
</script>
{% set codeAfterResponsableUpdate %}
		var show = false;
		if(result == 'Aucun') {
			show = true;
		}
		var obj = $('#{{ form.risque.identification.responsable.vars.id }}').closest('div');
		toggle(obj, show);
{% endset %}
{% include 'extra/reloadSelect.html.twig' with 
		{parent: form.direction, child: form.structure, url: path('structure_by_parent'), key: 'id', empty_child: 1, functionAfter: 'afterDirectionReload'} 
%}
{% include 'extra/reloadSelect.html.twig' with 
	{parent: form.structure, child: form.processus, url: path('get_processus_by_structure'), key: 'id', empty_child: 1, functionAfter: 'afterStructureReload'} 
%}
{% include 'extra/reloadSelect.html.twig' with 
	{parent: form.structure, child: form.activite, url: path('get_activities_by_structure'), key: 'id', empty_child: 1	, functionAfter: 'afterStructureReload'} 
%}
