{% form_theme form 'OrangeMainBundle:Extra:simple_form_theme.html.twig' %}

<div class="header">
	<img src="{{ asset('bundles/orangemain/images/icon/color_18/add.png') }}" alt="add">
	<span>Ajout d'un domaine</span>
	<div class="close_me"><a data-dismiss="modal"><img src="{{ asset('bundles/orangemain/images/icon/closeme.png') }}"> </a></div>
</div>
<div class="contentForm">
	<form  novalidate="novalidate"  action="{{ path('creer_domaine_activite') }}" method="POST">
		{{ form_row(form.libelle) }}
		{{ form_row(form._token) }}
		<div class="section last">
			<div>
				<button data-target="#myModal" class="uibutton loading submitLink"call="closeAndNotifyAfterSuccess" argument-call="#domaineActiviteTable">Enregistrer</button>
				<input type="reset" data-dismiss="modal" class="uibutton special" value="Effacer" >
			</div>
		</div>
	</form>
</div>
