	<div style="position: relative; left: 35%">
		<!-- // breaks -->
		<div class="sigrc_grid shoutcutBox carto {{ position==0 ? 'active' : null }}" onclick="location.href='{{ path('les_causes') }}'"> 
			<span class="ico color item"></span> <strong>Causes</strong> <em> Liste des causes </em> 
		</div>
		<div class="sigrc_grid shoutcutBox carto {{ position==1 ? 'active' : null }}" onclick="location.href='{{ path('les_impacts') }}'">
			<span class="ico color group"></span> <strong>Impacts</strong> <em>Liste des impacts / gravit&eacute;s</em> 
		</div>
		<div class="sigrc_grid shoutcutBox carto {{ position==2 ? 'active' : null }}" onclick="location.href='{{ path('les_evaluations') }}'">
			<span class="ico color briefcase"></span> <strong>Evaluations</strong> <em>Liste des &eacute;valuations</em> 
		</div>
		<!-- // breaks -->
	</div>