	<div style="margin: 0 auto;width: 60%;">
		<!-- // breaks -->
		{% if (has_rights ('ROLE_RESPONSABLE_ONLY') == true and app.user.manager==true) or has_rights ('ROLE_ADMIN') or has_rights ('ROLE_AUDITEUR') or has_rights ('ROLE_RISKMANAGER') or has_rights ('ROLE_CHEFPROJET') %}
			<div class="sigrc_grid shoutcutBox identification {{ position==1 ? 'active' : null }}" onclick="location.href='{{ path('choix_carto_kpi',{carto:1, type: 4,link:app.request.attributes.get('_route')}) }}'"> 
				<span class="ico color add"></span> <strong>Métier</strong> <em>Matrice des risques métiers</em> 
			</div>
			<div class="sigrc_grid shoutcutBox identification {{ position==2 ? 'active' : null }}" onclick="location.href='{{ path('choix_carto_kpi',{carto:2, type: 4,link:app.request.attributes.get('_route')}) }}'">
				<span class="ico color eye"></span> <strong>Projet</strong> <em>Matrice des risques projets</em> 
			</div>
		{% endif %}
		<div class="sigrc_grid shoutcutBox identification {{ position==3 ? 'active' : null }}" onclick="location.href='{{ path('choix_carto_kpi',{carto:3, type: 4,link:app.request.attributes.get('_route')}) }}'">
			<span class="ico color pencil"></span> <strong>SST</strong> <em>Matrice des risques SST</em> 
		</div>
		<div class="sigrc_grid shoutcutBox identification {{ position==4 ? 'active' : null }}" onclick="location.href='{{ path('choix_carto_kpi',{carto:4, type: 4,link:app.request.attributes.get('_route')}) }}'" style="width:200px;">
			<span class="ico color checkmark2"></span> <strong>Environnemental</strong> <em>Matrice des risques environnementaux</em> 
		</div>
	</div>